Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

add suffix to containsStrictlyNullable such as ...Values and ...Entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
Due: api

add suffix to containsNullable such as ...Values and ...Entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsSpecBase.kt
Due: api

return JvmName for containsStrictly nullable
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
Due: api

update differences.md for fun which deal with nullable
  apis/differences.md
Due: api

deprecate shortcut fun containsNot for nullable values
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsSpecBase.kt
Due: api

update deprecate message for nullable overloads
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsDecorators.kt
Due: api

introduce shortcut fun notToBeNullBut
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/typeTransformationAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/TypeTransformationAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/typeTransformationAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/TypeTransformationAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/TypeTransformationAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/typeTransformationAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/TypeTransformationAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/TypeTransformationAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/TypeTransformationAssertionsSpec.kt
Due: api, misc

add helper functions for Java interop to turn type to nullable type
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/nullable.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/subAssert.kt
  domain/atrium-domain-builders/src/test/java/ch/tutteli/atrium/domani/builders/utils/Test.java
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/utils/NullableSpec.kt
Due: domain

document helper functions to deal with platform types
  README.md
Due: none

use infix version in CollectionAssertionsSpec fo the infix API
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/CollectionAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/MapAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CollectionAssertionsSpec.kt
Due: api

introduce a PleaseUseReplacementException
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PleaseUseReplacementException.kt
  misc/atrium-bc-test/build.gradle
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/BigDecimalAssertionsSpec.kt
Due: api, domain, misc

rename ContainsChecker::createBasicAssertion to ...DescriptiveAssertion
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/checkers/ContainsChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/checkers/AtLeastChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/checkers/AtMostChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/checkers/ExactlyChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/checkers/AtLeastChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/checkers/AtMostChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/checkers/ExactlyChecker.kt
Due: domain

throw a PleaseUseReplacement for feature assertion with bounded ref.
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/featureAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/featureAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/featureAssertions.kt
Due: api

remove overload with Boolean from DescriptiveAssertionBuilder
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveAssertionBuilder.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextFallbackAssertionFormatterSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/composers/descriptiveWithFailureHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/creators/TypeTransformationAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerWithHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ThrowableThrownFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/checkers/ContainsChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/checkers/AtLeastChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/checkers/AtMostChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/checkers/ExactlyChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/checkers/AtLeastChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/checkers/AtMostChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/checkers/ExactlyChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyEntriesMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyValueMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeBasicAssertionSpec.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/checkers/ContainsChecker.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyObjectsAssertionCreator.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CheckingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
Due: domain, core, misc

update README, descriptive assertion builder has changed
  README.md
Due: none

introduce interfaces for FixHoldsAssertionGroupBuilder
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupBuilder.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/descriptiveWithFailureHint.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/fixHoldsGroup.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/DescriptiveAssertionWithFailureHintShowOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixHoldsAssertionGroup.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixHoldsAssertionGroupBuilderImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixHoldsAssertionGroupHoldsOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixHoldsAssertionGroupTypeOptionImpl.kt
  domain/atrium-domain-builders/src/module/module-info.java
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/composers/descriptiveWithFailureHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
Due: domain, core, misc

rename fixHoldsGroup to fixedClaimGroup
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/fixedClaimGroup.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixHoldsAssertionGroupHoldsOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixHoldsAssertionGroupTypeOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixedClaimAssertionGroup.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixedClaimAssertionGroupBuilderImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixedClaimAssertionGroupHoldsOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixedClaimAssertionGroupTypeOptionImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/composers/descriptiveWithFailureHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
Due: domain, misc

add overload for three assertions to AssertionGroupBuilder
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveLikeAssertionBuilder.kt
Due: core

rename AssertionBuilder.withType to ...customType
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionBuilderImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
Due: core, misc

add overload without representation for fixedClaimGroup
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/fixedClaimGroup.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
Due: domain, misc

adapt ExplanatoryAssertionBuilder to harmonized AssertionGroup Builders
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionDescriptionOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionFinalStep.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryAssertionGroupAssertionsOptions.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionDescriptionOptionImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionFinalStepImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/floatingPointAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
Due: domain, core

rename explanatoryGroup.withDefault to withDefaultType
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionGroupOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionGroupOptionImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerBase.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ThrowableThrownFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/bigDecimalAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectors/AssertionCollectorForExplanation.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/floatingPointAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/SubjectLessAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextExplanatoryAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextWarningAssertionGroupFormatterSpec.kt
Due: domain, core, misc

rename ExplanatoryAssertionGroupOption to ...GroupTypeOption
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionGroupTypeOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionGroupTypeOptionImpl.kt
Due: core

use AssertionBuilderImpl only in Companion object of interface
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionsOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/DescriptiveAssertionHoldsOptionImpl.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/DescriptiveAssertionWithFailureHintShowOptionImpl.kt
Due: domain, core

optimise Builder objects, use backing field
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionGroupTypeOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/DescriptiveAssertionWithFailureHintShowOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixedClaimAssertionGroupHoldsOptionImpl.kt
Due: domain, core

add overload for nullable representation to DescriptiveAssertionBuilder
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupFinalStep.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveLikeAssertionDescriptionOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/BasicAssertionGroupFinalStepImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/comparableAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyValueMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyObjectsAssertionCreator.kt
Due: domain, core

rename DefaultAssertionBuilderOptions to ...AssertionGroup...
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/root.kt
Due: core

move false/trueProvider to core
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/DescriptiveAssertionHoldsOptionImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/core/booleanProvider.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/DescriptiveAssertionWithFailureHintShowOptionImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/ReportingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorIntSpec.kt
Due: domain, core, misc

prefix DescriptionAndRepresentation... with AssertionGroup
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndEmptyRepresentationOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndRepresentationOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionGroupDescriptionAndEmptyRepresentationOptionImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionGroupDescriptionAndRepresentationOptionImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/root.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/fixedClaimGroup.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixedClaimAssertionGroupHoldsOptionImpl.kt
Due: domain, core

add overload for null and "" to AssertionGroup...RepresentationOption
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndRepresentationOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveLikeAssertionDescriptionOption.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextNextLineAssertionPairFormatterSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
Due: domain, core

update KDoc of the AssertionBuilders
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndEmptyRepresentationOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndRepresentationOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionsOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupFinalStep.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptive.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/LazyRepresentation.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/descriptiveWithFailureHint.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/fixedClaimGroup.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixedClaimAssertionGroupFinalStepImpl.kt
Due: domain, core

add shortcut fun createDescriptive to AssertionBuilder
  README.md
  bundles/atrium-cc-de_CH-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/atrium-cc-en_GB-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/atrium-cc-en_UK-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/atrium-cc-infix-en_UK-robstoll/src/test/kotlin/SmokeSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlant.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/anyAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/checkers/ContainsChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charSequenceAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/checkers/NotChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectionAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/checkers/NotChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/checkers/ContainsChecker.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsNotChecker.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/checkers/IterableContainsNotChecker.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CheckingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
Due: domain, core, misc

group AssertionBuilder specific interfaces together in one file
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveAssertionFinalStep.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveAssertionHoldsOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveLikeAssertionDescriptionOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionFinalStep.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionGroupFinalStep.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionGroupTypeOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptive.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryGroup.kt
Due: core

rename ExplanatoryAssertionDescriptionOption to ...ExplanationOption
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionExplanationOptionImpl.kt
Due: core

rename AssertionGroup.name to description and re-add deprecated name
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/EmptyNameAndRepresentationAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/IndentAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/IndentAssertionGroupType.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/RootAssertionGroupType.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndEmptyRepresentationOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndRepresentationOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionsOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupFinalStep.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptive.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/invisibleGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatter.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionPairFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/FeatureAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextExplanatoryAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextFeatureAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextNextLineAssertionPairFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextSameLineAssertionPairFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextSummaryAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextFallbackAssertionFormatterSpec.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/FixedClaimAssertionGroup.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/LazyThreadUnsafeAssertionGroup.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/FeatureAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
Due: domain, core, misc

fix JvmName in cc-de_CH for grouped entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
Due: api

some cleanup in specs
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/AnyAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/AnyAssertionsSpec.kt
Due: api

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
