Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

use an interface for NoOp search behaviours
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charSequenceAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsNoOpSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/searchBehaviours.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInAnyOrderOnlySearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInAnyOrderSearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInOrderOnlySearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInOrderSearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsNoOpSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsNotSearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterableAssertions.kt
Due: domain

exclude deprecated assertions package from codecov
  codecov.yml
Due: none

codecov requires xml report
  gradle/scripts/jacoco-multi-project.gradle
  gradle/scripts/spek.gradle
Due: none

make AssertionGroup.Builder binary bc compatible
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
Due: core

make PlantHasNoSubjectException binary bc compatible
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/PlantHasNoSubjectException.kt
Due: core

rename ownModule to projectPrefixed
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  core/atrium-core-api-late-binding/build.gradle
  core/atrium-core-robstoll-lib/build.gradle
  core/atrium-core-robstoll/build.gradle
  domain/atrium-domain-api-late-binding/build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll/build.gradle
  misc/atrium-assertions/build.gradle
  misc/atrium-spec/build.gradle
  misc/atrium-verbs/build.gradle
  translations/atrium-translations-de_CH/build.gradle
  translations/atrium-translations-en_UK/build.gradle
Due: api, domain, core, misc

relax API builders in de-ch and infix API
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
Due: none

re-add getters for CharSequence to be binary bc
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsSearchersKt.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsIgnoringCaseSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNoOpCheckerBuilder.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/ContainsChecker.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/creators/CharSequenceContainsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilderBase.kt
Due: api, domain

add *deprecated* to KDoc in domain-api
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsIgnoringCaseSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/composers/IAssertionComposer.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/IterableContains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNoOpCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNotSearchBehaviour.kt
Due: domain

update KDoc of deprecated charsequence builders
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
Due: api

relax iterable contains builders
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsCheckerBuilder.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/creators.kt
Due: api, domain

introduce a test to retain binary bc
  build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  misc/atrium-bc-test/build.gradle
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/DeprecationTestEngine.kt
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/ForgivingTest.kt
  misc/atrium-bc-test/src/main/resources/META-INF/services/org.junit.platform.engine.TestEngine
  settings.gradle
Due: misc

re-add getters for Iterable to be binary bc
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsCheckers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
Due: api

add deprecation to bc retaining functions
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsSearchersKt.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
Due: api

put logic to create bc-test task into function
  misc/atrium-bc-test/build.gradle
Due: misc

include bc-test in build
  misc/atrium-bc-test/build.gradle
Due: misc

turn deprecated API fun in non-extension functions
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsCheckers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
Due: api

re-add deprecated Iterable fun to retain binary bc
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsCheckers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsCheckers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
Due: api

re-add deprecated nameContainsNotValuesFun
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/nameContainsNotFun.kt
Due: none

add bc-test for de_CH
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsSearchersKt.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsCheckers.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsDecorators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  misc/atrium-bc-test/build.gradle
Due: api, misc

add bc-test for cc-infix-en_UK
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  misc/atrium-bc-test/build.gradle
Due: misc

re-add deprecated CharSequence fun to retain binary bc
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsSearchersKt.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsSearchersKt.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
Due: api

check and adjust JvmName
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsDecorators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
Due: api

update junit_platform_version to 1.1.0
  build.gradle
  gradle/scripts/spek.gradle
  misc/atrium-bc-test/build.gradle
Due: misc

fix atriumVerbs URL
  README.md
Due: none

introduce interface for ThrowableThrownBuilder
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/ThrowableAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/ThrowableAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/ThrowableAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/ThrowableAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/IThrowableAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/ThrowableThrown.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/IThrowableThrownAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/AssertImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/throwableAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/builders/ThrowableThrownBuilder.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwableAssertions.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/ThrowableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertions.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/builders/ThrowableThrownBuilder.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/AssertionVerbFactory.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/ReportingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ThrowableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assert/Assert.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assertthat/AssertThat.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/expect/Expect.kt
Due: api, domain, core, misc

use tutteli-gradle-settings, simplify settings.gradle
  settings.gradle
Due: none

move deprecated ThrowableThrownBuilder to api
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/builders/ThrowableThrownBuilder.kt
Due: domain

move deprecated ThrowableThrown to domain-api
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/ThrowableThrown.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/builders/ThrowableThrownBuilder.kt
Due: domain

introduce interface for AbsentThrowableMessageProvider
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/providers/ThrowableThrownAbsentMessageProvider.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/providers/IThrowableThrownAbsentMessageProvider.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/throwableAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/providers/TranslatableBasedAbsentThrowableMessageProvider.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/providers/providers.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/ThrowableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/providers/ThrowableThrownAbsentMessageProvider.kt
Due: domain

cleanup, remove unused import, use in and out etc
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/AssertImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/creators/ContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CharSequenceContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsInAnyOrderObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsInAnyOrderOnlyEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsInAnyOrderOnlyObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsInOrderOnlyEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsInOrderOnlyObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/IterableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsSearchBehaviours.kt
Due: domain

add separate projects for test Jar and test sources
  apis/testjars/atrium-api-cc-de_CH-tests/build.gradle
  apis/testjars/atrium-api-cc-en_UK-tests/build.gradle
  apis/testjars/atrium-api-cc-infix-en_UK-tests/build.gradle
  build.gradle
  settings.gradle
Due: api

fail if bc test discovery failed
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/DeprecationTestEngine.kt
Due: misc

also publish atrium-bc-test
  build.gradle
  misc/atrium-bc-test/build.gradle
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/DeprecationTestEngine.kt
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/ForgivingTest.kt
Due: misc

fail if bc test does not find any specs
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/DeprecationTestEngine.kt
Due: misc

introduce bc-tests with compilation
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/nameContainsNotFun.kt
  apis/testjars/atrium-api-cc-de_CH-tests/build.gradle
  apis/testjars/atrium-api-cc-en_UK-tests/build.gradle
  apis/testjars/atrium-api-cc-infix-en_UK-tests/build.gradle
  build.gradle
  misc/atrium-bc-test/.gitignore
  misc/atrium-bc-test/build.gradle
  settings.gradle
Due: api, misc

create grouping task bc-0.6.0 and bbc-0.6.0
  misc/atrium-bc-test/build.gradle
Due: misc

use one forgive pattern for all apis in bc-test
  misc/atrium-bc-test/build.gradle
Due: misc

introduce interface for CharSequence builders
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsWithTimesCheckerBuilder.kt
Due: api, domain
