Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

fix failing test discovery in api-cc-de_CH
  misc/atrium-spec/build.gradle
  misc/verbs-internal/atrium-verbs-internal-android/build.gradle
  misc/verbs-internal/atrium-verbs-internal-js/build.gradle
Due: misc

Add assertion for Path#exists and Path#existsNot
  apis/fluent-en_GB/extensions/atrium-api-fluent-en_GB-jdk8/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/pathAssertions.kt
  apis/fluent-en_GB/extensions/atrium-api-fluent-en_GB-jdk8/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/PathAssertionsSpec.kt
  build.gradle
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/PathAssertions.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PathAssertionsBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/pathAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/module/module-info.java
  domain/robstoll/atrium-domain-robstoll-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/PathAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-jvm/src/main/resources/META-INF/services/ch.tutteli.atrium.domain.creating.PathAssertions
  domain/robstoll/atrium-domain-robstoll-jvm/src/module/module-info.java
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionAnyAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionPathAssertion.kt
Due: api, domain, misc

param name assertionContainer instead of subjectProvider for Expect
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/PathAssertions.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PathAssertionsBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/pathAssertions.kt
  domain/robstoll/atrium-domain-robstoll-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/PathAssertionsImpl.kt
Due: domain

run all tests for android, not only common tests
  build.gradle
  misc/specs/atrium-specs-android/build.gradle
Due: misc

prepare spec for #130
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/CharSequenceContainsAtLeastAssertionsSpec.kt
Due: api

Re-add (NOT_)TO_BE constants to DescriptionAnyAssertion and deprecate them
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionAnyAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionAnyAssertion.kt
Due: none

Fix translation encoding issues
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/resources/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/Atrium_fr.properties
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/resources/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/Atrium_it.properties
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/resources/ch/tutteli/atrium/specs/reporting/translating/TranslationSupplierSpec$TestTranslatable_fr.properties
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/resources/ch/tutteli/atrium/specs/reporting/translating/TranslatorIntSpec$TestTranslatable_fr.properties
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/resources/ch/tutteli/atrium/specs/reporting/translating/TranslatorIntSpec$TestTranslatable_it.properties
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/reporting/translating/TranslatorIntSpec.kt
Due: core, misc

Fix translation loading logic in PropertiesPerEntityAndLocaleTranslationSupplier
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplier.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/reporting/translating/TranslatorIntSpec.kt
Due: core, misc

Use the updated version of tutteli-gradle-plugins
  build.gradle
  misc/atrium-bc-test/build.gradle
  settings.gradle
Due: misc

add existsNot to SmokeSpec of fluent-en_GB-jdk8
  bundles/atrium-fluent-en_GB-jdk8/src/test/kotlin/custom/SmokeSpec.kt
  bundles/fluent-en_GB/atrium-fluent-en_GB-common/src/test/kotlin/SmokeTest.kt
Due: none

add newcomers welcome badge
  README.md
Due: none

Update tutteli_plugins to version 0.28.1
  settings.gradle
Due: none

make sure all TranslatorIntSpec are carried out
  README.md
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/TranslationSupplierBasedTranslator.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/resources/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/Atrium_it.properties
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/resources/ch/tutteli/atrium/specs/reporting/translating/TranslatorIntSpec$TestTranslatable_it.properties
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/reporting/translating/TranslatorIntSpec.kt
Due: core, misc

Update and rename .github/workflows/gradle.yml to gradle.yml
  gradle.yml
Due: none

use github actions to tests Java STS-versions on Windows
  .github/workflows/java-windows.yml
  appveyor.yml
  build.gradle
Due: none

use `we` instead of `I` in README
  README.md
Due: none

improve deprecation message of CoreFactory.new..Plant
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
Due: core

deprecate atrium-spec AssertionVerb and other utilities
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/AssertionVerb.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/AssertionVerbFactory.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/SpecBodyExtensions.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/SpekExtensions.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/AssertionVerbFactory.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/SpekExtensions.kt
  misc/verbs-internal/atrium-verbs-internal-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/internal/AssertionVerbFactory.kt
Due: api, misc

speed up .travis, build JS only on JDK11
  .travis.yml
Due: none

ignore bc-tests in coverage
  codecov.yml
Due: none

update to tutteli-gradle 0.29.0
  settings.gradle
Due: none

rename APIs to API styles
  README.md
  misc/specs/atrium-specs-js/build.gradle
Due: misc

replace AppVeyor badge with github actions badge
  .github/workflows/java-windows.yml
  README.md
Due: none

use https instead of http
  .editorconfig
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/good_first_issue.md
  README.md
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  misc/kdoc/packages.md
  misc/maven/settings.xml
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/reporting/translating/TranslatorIntSpec.kt
  samples/js/mocha/build.gradle
Due: core, misc

compile java sources also for android
  build.gradle
Due: none

fix fluent-en_GB-android, use sources from JVM
  bundles/fluent-en_GB/atrium-fluent-en_GB-android/build.gradle
Due: none

filter out spek2 in case of runner removal
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveRunnerAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackSpec.kt
Due: core

shorten license badge, use other colour than green
  README.md
Due: none

fix latest manual redirect url
  latest/index.html
Due: none

define provides FeatureExtractor in module-info of domain-robstoll
  domain/robstoll/atrium-domain-robstoll-jvm/src/module/module-info.java
Due: domain

include jcenter as repository for dokka
  build.gradle
Due: none

v0.9.0-alpha
  .github/CONTRIBUTING.md
  README.md
  apis/differences.md
  build.gradle
  misc/maven/example-pom.xml
  samples/js/mocha/build.gradle
Due: api, misc

update packages.md
  build.gradle
  gradle/scripts/gh-pages.gradle
  misc/kdoc/packages.md
Due: misc

move bc-test related classes to package bctest, exclude from ghPages
  build.gradle
  misc/atrium-bc-test/src/main/kotlin/ch/tutteil/atrium/bctest/DeprecationTestEngine.kt
  misc/atrium-bc-test/src/main/kotlin/ch/tutteil/atrium/bctest/ForgivingTest.kt
  misc/atrium-bc-test/src/main/resources/META-INF/services/org.junit.platform.engine.TestEngine
Due: misc

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
