Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

make sure only absolute properties files are allowed
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesBasedTranslationSupplier.kt
Due: core

fix describeFun, add space before `fun`
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/SpecBodyExtensions.kt
Due: none

remove `it` which is an alias for `subject`
  README.md
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FeatureAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/FeatureAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/FeatureAssertionsSpec.kt
Due: api

clarify where `subject` comes from (#7)
  README.md
Due: none

explain relation `subject`, `IAssertionPlant`
  README.md
Due: none

fix spelling mistakes and other improvements
  README.md
Due: none

remove notice about `this` for infix API
  apis/differences.md
Due: api

restrict _containsValues to CharSequence, Number and Char
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtLeastAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsExactlyAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsNotOrAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorErrorCaseSpec.kt
Due: none

remove `it` from method assertion
  README.md
Due: none

update kotlin to 1.2.10
  build.gradle
Due: none

remove NoSpecialChild...Formatter::formatSpecificGroup
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/NoSpecialChildFormattingSingleAssertionGroupTypeFormatter.kt
Due: core

write spec for unsupported IAssertionGroupType
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
Due: none

write spec for ILocaleOrderDecider with fallback
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/LocaleOrderDeciderSpec.kt
Due: none

use describeFun where appropriate
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/DelegatingAssertionCheckerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/FeatureAssertionCheckerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/ThrowingAssertionCheckerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CheckingAssertionPlantSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CollectingAssertionPlantSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/ReportingAssertionPlantSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/ObjectFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextMethodCallFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
Due: none

KDoc for new modules and packages
  gradle/scripts/gh-pages.gradle
  misc/kdoc/packages.md
Due: misc

introduce AssertionGroupBuilder
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/narrow/failurehandler/ExplanatoryDownCastFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/SubjectLessAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextExplanatoryAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextWarningAssertionGroupFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/ExplanatoryAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/IAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/IExplanatoryAssertionGroupType.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/InvisibleAssertionGroup.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/DelegatingAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/FeatureAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/ThrowingAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/ReportingAssertionPlantImpl.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextExplanatoryAssertionGroupFormatterSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextFallbackAssertionFormatterSpec.kt
Due: core

update packages.md, remove `I` as well
  misc/kdoc/packages.md
Due: misc

update README, adjust renamings
  README.md
Due: none

update differences, adjust IAssertionPlant
  apis/differences.md
Due: api

remove AssertionPlant as return type
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/collectionAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/numberAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/collectionAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/numberAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/collectionAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/numberAssertions.kt
Due: api

write spec for passing null to method assertion
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextMethodCallFormatterSpec.kt
Due: none

update roadmap
  README.md
Due: none

v0.5.0
  README.md
  apis/differences.md
  build.gradle
  gradle/scripts/gh-pages.gradle
  misc/kdoc/packages.md
  misc/maven/example-pom.xml
Due: api, misc

describe runtime check for `contains` in KDoc
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsSearchers.kt
Due: api

prepare 0.6.0-SNAPSHOT
  README.md
  apis/differences.md
  build.gradle
Due: api

add AssertionPairFormatter to IAtriumFactory
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-impl-robstoll/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
Due: none

add bintray repo to Installation section
  README.md
Due: none

remove ReporterBuilder::withDetailedObjectFormatter
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
Due: none

add options for AssertionPairFormatter to ReporterBuilder
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BulletPointIdentifier.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/FeatureAssertionGroupType.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/SummaryAssertionGroupType.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  core/atrium-core-impl-robstoll/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/AtriumReporterSupplier.kt
Due: api, core, misc

expect an AssertionGroup in formatGroupHeader
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionPairFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextFeatureAssertionGroupFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextPrefixBasedAssertionGroupFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextSameLineAssertionPairFormatter.kt
Due: core

introduce TextNextLineAssertionPairFormatter
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatterMethodObject.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionPairFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextFallbackAssertionFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextFeatureAssertionGroupFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextListAssertionGroupFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextListBasedAssertionGroupFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextPrefixBasedAssertionGroupFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextSummaryAssertionGroupFormatter.kt
Due: core

add shortcut fun for contains...regex
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsSpecBase.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsSpecBase.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsRegexAssertionSpec.kt
Due: api

add spec for TextNextLineAssertionPairFormatter
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatterSpec.kt
Due: core
