Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

remove restriction of `Number` from `isLessThan`
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/comparableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/ComparableAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/comparableAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/ComparableAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/comparableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/ComparableAssertionsSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/comparableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/numberAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/ComparableAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsEntriesSpecBase.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/NarrowingAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorIntSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionComparableAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertions.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionComparableAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertions.kt
Due: api

deprecate notToBe for BigDecimal, one has to use Any
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/bigDecimalAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/BigDecimalAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BigDecimalAssertionsSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionThrowableAssertion.kt
Due: api

update Roadmap
  README.md
Due: none

mention `help wanted` in README and CONTRIBUTING
  .github/CONTRIBUTING.md
  README.md
Due: none

introduce isNotEqualIncludingScale for BigDecimal
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/bigDecimalAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/BigDecimalAssertionsSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BigDecimalAssertionsSpec.kt
Due: api

deprecate toBe for BigDecimal, add isEqualIncludingScale
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/bigDecimalAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/BigDecimalAssertionsSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BigDecimalAssertionsSpec.kt
Due: api

write about how Atrium is different from other libraries
  README.md
Due: none

use own description for isEqualIncludingScale
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BigDecimalAssertionsSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
Due: api

fix spelling
  README.md
Due: none

mention bug report in PlantHasNoSubjectException message
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/narrow/DownCaster.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/narrow/failurehandler/ExplanatoryDownCastFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/reporting/constants.kt
Due: none

rename narrowing to type transformation
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/typeTransformationAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/TypeTransformationAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/typeTransformationAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/TypeTransformationAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/typeTransformationAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/TypeTransformationAssertionsSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/DownCaster.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/typeTransformationAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/ThrowableAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/TypeTransformationAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionTypeTransformationAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionTypeTransformationAssertion.kt
Due: api

introduce generic TypeTransformer
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/narrow/AnyNarrow.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/AnyTypeTransformation.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/DownCaster.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/narrowingAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/ThrowableThrown.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwableAssertions.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformerSpec.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionNarrowingAssertion.kt
Due: none

rename Description...Assertions to ...Assertion
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BigDecimalAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FloatingPointWithErrorToleranceAssertionsSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertion.kt
Due: none

v 0.6.0
  README.md
  apis/differences.md
  build.gradle
  misc/maven/example-pom.xml
Due: api, misc

prepare 0.7.0-SNAPSHOT
  README.md
  apis/differences.md
  build.gradle
Due: api

suppress exp. warning in CoroutineBasedLocaleOrderDecider
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/CoroutineBasedLocaleOrderDecider.kt
Due: core

suppress unused parameter for throwing fun
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
Due: api

use Either in TypeTransformerSpec and not Left
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformerSpec.kt
Due: none

update gradle to 4.4.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

include before_cache in .travis.yml for gradle
  .travis.yml
Due: none

add jdk9 to .travis.yml
  .travis.yml
Due: none

introduce gradle global var github_url
  build.gradle
  gradle/scripts/gh-pages.gradle
Due: none

remove jdk9 for now
  .travis.yml
Due: none

fix deprecations due to gradle 4.4.1
  gradle/scripts/jacoco-multi-project.gradle
  gradle/scripts/spek.gradle
Due: none

fix spelling `an` vs. `a`, `chose` vs. `choice`
  README.md
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/IndentAssertionGroup.kt
Due: core

update kotlin to 1.2.20
  build.gradle
Due: none

complete roadmap, builder for withErrorTolerance
  README.md
Due: none

enabling jdk9 again, fixing erroneous class usage
  .travis.yml
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsSpecBase.kt
Due: api

make EmptyNameAndSubjectAssertionGroup open
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/DelegatingAssertionCheckerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentAssertionGroupFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/EmptyNameAndSubjectAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/IndentAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/InvisibleAssertionGroup.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/DelegatingAssertionChecker.kt
Due: core

update KDoc of Translator, ROOT should not be a candidate
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Translator.kt
Due: core

move AsssertionGroup.Builder to own class
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/SubjectLessAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextExplanatoryAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextWarningAssertionGroupFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroupBuilder.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/DelegatingAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/FeatureAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/ThrowingAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/ReportingAssertionPlantImpl.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextFallbackAssertionFormatterSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatterSpec.kt
Due: core

use explanatory assertion group for entries
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
Due: api

set overridden fun in abstract class final
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FloatingPointWithErrorToleranceAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/helperKeywords.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/typeTransformationAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsSpecBase.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/ThrowingAssertionCheckerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterSpecBase.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/ExplanatoryAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/FixHoldsAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ArgumentsSupportingTranslator.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/MutableListBasedReportingAssertionPlant.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/SingleAssertionGroupTypeFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextExplanatoryAssertionGroupFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextFallbackAssertionFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesBasedTranslationSupplier.kt
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/reporting/translating/Atrium_zh_TW.properties
  misc/maven/example-pom.xml
Due: api, core, misc

rename AssertionGroupBuilder to AssertionBuilder
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/SubjectLessAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextExplanatoryAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextWarningAssertionGroupFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionBuilder.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/DelegatingAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/FeatureAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/ThrowingAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/ReportingAssertionPlantImpl.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextFallbackAssertionFormatterSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatterSpec.kt
Due: core

rename AssertionBuilder.invisible to invisibleGroup
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/SubjectLessAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/CollectingAssertionPlant.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/DelegatingAssertionChecker.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/CollectingAssertionPlantImpl.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/ReportingAssertionPlantImpl.kt
Due: core

introduce descriptive for AssertionBuilder
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/anyAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/checkers/ContainsChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsNotChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/collectionAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/comparableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/checkers/IterableContainsNotChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyObjectsAssertionCreator.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeBasicAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CheckingAssertionPlantSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicDescriptiveAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlant.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextFallbackAssertionFormatterSpec.kt
Due: core

KDoc for AssertionBuilder
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionBuilder.kt
Due: core

append Group to AssertionBuilder.explanatory
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/SubjectLessAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextExplanatoryAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextWarningAssertionGroupFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/ExplanatoryAssertionGroup.kt
Due: core
