Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

add Map.Entry assertion functions to Expect
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/mapEntryAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/MapEntryAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/MapEntryFeatureAssertionsSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/ReportingAssertionContainerImpl.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/MapEntryAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/MapEntryAssertionsBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapEntryAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapEntryAssertionsDeprecated.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/MapEntryAssertionsImpl.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/KeyValueLikeFeatureAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/MapEntryAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/MapEntryFeatureAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/SimpleMapEntry.kt
Due: api, domain, core, misc

deprecate MapEntryAssertions based on Assert
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/mapEntryAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/mapEntryAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/mapEntryAssertions.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/MapEntryAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/MapEntryAssertionsBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapEntryAssertionsDeprecated.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/MapEntryAssertionsDeprecatedImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/MapEntryAssertionsImpl.kt
Due: api, domain

add PairAssertions functions to Expect
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/pairAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/MapEntryFeatureAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/PairFeatureAssertionsSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/PairAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/ExpectImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PairAssertionsBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapEntryAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/pairAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/PairAssertionsImpl.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/PairFeatureAssertionsSpec.kt
Due: api, domain, misc

provide toBe, is and isNotDescr in testUtils
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsEntriesSpecBase.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/ListFeatureAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/MapAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/MapEntryAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/MapFeatureAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/testUtils.kt
Due: misc

move withFailureHint and fixed/partiallyFixedGroup to core
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/SubjectBasedOption.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptiveWithFailureHint.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/fixedClaimGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/fixedClaimLikeGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/FixedClaimLikeAssertionGroupHoldsOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/FailureHintSubjectAbsentOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/FailureHintSubjectDefinedOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/FinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/ShowOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/ShowSubjectAbsentOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/ShowSubjectDefinedOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/fixedClaimGroup/FinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/fixedClaimGroup/FixedClaimAssertionGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/fixedClaimGroup/GroupTypeOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/fixedClaimGroup/HoldsOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/partiallyFixedClaimGroup/FinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/partiallyFixedClaimGroup/GroupTypeOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/partiallyFixedClaimGroup/HoldsOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/partiallyFixedClaimGroup/PartiallyFixedClaimAssertionGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/partiallyFixedClaimGroup.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveWithBasedOnSubjectSpec.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/descriptiveWithFailureHint/FailureHintSubjectAbsentOptionImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/descriptiveWithFailureHint/FailureHintSubjectDefinedOptionImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/descriptiveWithFailureHint/FinalStepImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/descriptiveWithFailureHint/ShowSubjectAbsentOptionImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/builders/impl/descriptiveWithFailureHint/ShowSubjectDefinedOptionImpl.kt
  domain/builders/atrium-domain-builders-jvm/src/module/module-info.java
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/composers/descriptiveWithFailureHint.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/changers/extractFeature.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/feature/extract/creators/FeatureExtractorCreatorImpl.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/floatingPointAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/containsHelperFun.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterableAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterableAssertionsDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/bigDecimalAssertions.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
Due: domain, core, misc

move impl classes to one file defaultImpls
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptive/DescriptionOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptive/FinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptive/defaultImpls.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/FailureHintSubjectAbsentOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/FailureHintSubjectDefinedOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/FinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/ShowOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/ShowSubjectAbsentOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/ShowSubjectDefinedOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/defaultImpls.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/explanatory/ExplanationOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/explanatory/defaultImpls.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/explanatoryGroup/FinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/explanatoryGroup/defaultImpls.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/fixedClaimGroup/FinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/fixedClaimGroup/GroupTypeOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/fixedClaimGroup/defaultImpls.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/partiallyFixedClaimGroup/FinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/partiallyFixedClaimGroup/GroupTypeOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/partiallyFixedClaimGroup/defaultImpls.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/Expect.kt
Due: core

remove KDoc: throws Illegal in case of empty assertionCreator lambda
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/collectionAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/listAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/mapAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/mapEntryAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/pairAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/throwableAssertions.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/changers/PostFinalStep.kt
Due: api, domain

deprecate AssertionComposer, no longer required
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/assertions/composers/AssertionComposer.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/composers/descriptiveWithFailureHint.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/assertions/composers/AssertionComposerImpl.kt
Due: domain

deprecated Assert based Pair assertion functions
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/pairAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/pairAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/pairAssertions.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/ListAssertions.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/MapAssertions.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/MapEntryAssertions.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/PairAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PairAssertionsBuilder.kt
Due: api, domain

deprecate old ThrowableThrown features
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/feature/extract/creators/FeatureExtractorCreatorFactory.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/throwable/thrown/ThrowableThrown.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/throwable/thrown/providers/AbsentThrowableMessageProviderFactory.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PleaseUseReplacementException.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/throwableAssertionsBuilders.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/creators/creators.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/creators/creatorsDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/providers/AbsentThrowableMessageProvider.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/providers/providers.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/throwable/thrown/providers/AbsentThrowableMessageProviderFactoryImpl.kt
Due: domain

methodCallFormatter not lazy, neither Untranslatable
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/MethodCallFormatter.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Untranslatable.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextMethodCallFormatter.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/NewFeatureAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/changers/FeatureExtractorBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/featureAssertionsDeprecated.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextMethodCallFormatterSpec.kt
Due: domain, core, misc

provide a String overload where a Translatable is expected
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndEmptyRepresentationOption.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndRepresentationOption.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptive.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/explanatory/defaultImpls.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveWithBasedOnSubjectSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CollectingAssertionContainerImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextNextLineAssertionPairFormatterSpec.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/changers/FeatureExtractorBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/changers/SubjectChangerBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/floatingPointAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyAssertionCreator.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/creators/ThrowableThrownFailureHandler.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeBasicAssertionSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/TypeTransformationAssertionCreatorSpec.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/assertions/composers/AssertionComposerImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/FeatureAssertionsImpl.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
Due: domain, core

introduce AssertionVerbBuilder, add String overload for verb
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/ThrowableAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/ExpectImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/changers/FeatureExtractorBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/changers/SubjectChangerBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AssertionVerbBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/DefaultReporterFactory.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/verb/defaultImpls.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
  misc/verbs-internal/atrium-verbs-internal-common/src/main/kotlin/ch.tutteli.atrium.api.verbs.internal/atriumVerbs.kt
  misc/verbs-internal/atrium-verbs-internal-common/src/main/kotlin/ch/tutteli/atrium/verbs/internal/atriumVerbs.kt
  misc/verbs/atrium-verbs-common/src/main/kotlin/ch/tutteli/atrium/api.verbs/assert.kt
  misc/verbs/atrium-verbs-common/src/main/kotlin/ch/tutteli/atrium/api.verbs/assertThat.kt
  misc/verbs/atrium-verbs-common/src/main/kotlin/ch/tutteli/atrium/api.verbs/expect.kt
Due: api, domain, core, misc

reduce dependency on cc-en_GB in specs, do not use AssertImpl
  apis/fluent-en_GB/atrium-api-fluent-en_GB-android/build.gradle
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/build.gradle
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableAnyAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-js/build.gradle
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/build.gradle
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/floatingPointJvmAssertions.kt
  apis/fluent-en_GB/extensions/atrium-api-fluent-en_GB-jdk8/build.gradle
  misc/specs/atrium-specs-android/build.gradle
  misc/specs/atrium-specs-common/build.gradle
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/SubjectLessSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableAnyAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderOnlyEntriesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  misc/specs/atrium-specs-js/build.gradle
  misc/specs/atrium-specs-jvm/build.gradle
Due: api, misc

open functions with assertionCreator for nullable T
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/anyAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/listAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/mapAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/mapEntryAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/pairAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/throwableAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableAllAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/ListFeatureAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/MapEntryFeatureAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/MapFeatureAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/PairFeatureAssertionsSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/AnyAssertions.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/KeyValueLikeFeatureAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/MapEntryFeatureAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/PairFeatureAssertionsSpec.kt
Due: api, domain, misc

kdoc for MetaFeatureOption, point to resort in case of ambiguity
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/featureAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/FeatureAssertionsBoundedReferenceAlternativeSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/floatingPointJvmAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/NewFeatureAssertionsBuilder.kt
Due: api

do not use @Suppress("OverridingDeprecatedMember"), deprecate instead
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/CoreFactoryCommonImpl.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/changers/SubjectChanger.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/CollectionAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/ListAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/MapAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/MapEntryAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PairAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/anyAssertionsBuilders.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/changers/SubjectChangerBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/collectors/AssertionCollectorBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/throwableAssertionsBuilders.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/any/typetransformation/creators/AnyTypeTransformationAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/changers/SubjectChangerImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/collectors/AssertionCollectorDeprecatedImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/collectors/assertionCollectorsForExplanation.kt
Due: domain, core

deprecate mapArguments.toAssert and the like, introduce toExpect
  domain/builders/atrium-domain-builders-android/build.gradle
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/mapArguments.kt
  domain/builders/atrium-domain-builders-jvm/build.gradle
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/utils/MapArgumentsSpec.kt
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/utils/NullableSpec.kt
Due: domain

adjust KDoc, replace `@return This plant` with `assertion container`
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/mapAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/bigDecimalAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/floatingPointJvmAssertions.kt
Due: api

deprecated MaybeSubject and PlantHasNoSubjectException
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/BasicDescriptiveAssertion.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptiveWithFailureHint/defaultImpls.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/BaseAssertionPlant.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/MaybeSubject.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/PlantHasNoSubjectException.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/MutableListBasedAssertionContainer.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatter.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/composers/descriptiveWithFailureHint.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectors/AssertionCollectorForExplanationImpl.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectors/collectAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectors/collectOrExplainDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderEntriesDeprecatedAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/ForgivingTest.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CollectingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/SubjectLessAssertionSpec.kt
Due: domain, core, misc

use api-fluent in tests of domain-robstoll-lib
  README.md
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/featureAssertions.kt
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/EitherSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeBasicAssertionSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchers/CharSequenceContainsIndexSearcherSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchers/CharSequenceContainsRegexSearcherSpec.kt
Due: api, domain

configure spek2 for all jvm and android projects
  apis/fluent-en_GB/atrium-api-fluent-en_GB-android/build.gradle
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/build.gradle
  apis/fluent-en_GB/extensions/atrium-api-fluent-en_GB-jdk8/build.gradle
  build.gradle
  domain/builders/atrium-domain-builders-android/build.gradle
  domain/builders/atrium-domain-builders-jvm/build.gradle
  domain/robstoll-lib/atrium-domain-robstoll-lib-android/build.gradle
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/build.gradle
Due: api, domain

use api-fluent-en_GB instead of api-cc-en_GB
  apis/fluent-en_GB/atrium-api-fluent-en_GB-android/build.gradle
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/build.gradle
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/anyAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/AnyAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-js/build.gradle
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/build.gradle
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/bigDecimalAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/BigDecimalAssertionsSpec.kt
  apis/fluent-en_GB/extensions/atrium-api-fluent-en_GB-jdk8/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-android/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-js/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackTest.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/test/kotlin/testSetup.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CheckingAssertionPlantSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatterSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextFallbackAssertionFormatterSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextNextLineAssertionPairFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/DelegatingAssertionCheckerSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsEntriesSpecBase.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/BigDecimalAssertionsSpec.kt
Due: api, core, misc

use api-fluent for createSizeFeatureAssertionForInOrderOnly
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameRepresentationSpec.kt
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/containsHelperFun.kt
Due: domain

create VerbSpec for Expect
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/verbs/AssertionVerb.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/verbs/VerbSpec.kt
  misc/verbs-internal/atrium-verbs-internal-common/src/main/kotlin/ch/tutteli/atrium/verbs/internal/atriumVerbs.kt
  misc/verbs-internal/atrium-verbs-internal-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/internal/AssertionVerbFactory.kt
  misc/verbs-internal/atrium-verbs-internal-jvm/src/test/kotlin/ch/tutteli/atrium/verbs/internal/VerbSpec.kt
  misc/verbs/atrium-verbs-android/build.gradle
  misc/verbs/atrium-verbs-common/build.gradle
  misc/verbs/atrium-verbs-common/src/test/kotlin/ch/tutteli/atrium/api/verbs/VerbSpec.kt
  misc/verbs/atrium-verbs-js/build.gradle
  misc/verbs/atrium-verbs-jvm/build.gradle
Due: misc

migrate Reporting and CollectingAssertionPlantSpec for Expect
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/AssertionContainerWithCommonFields.kt
  core/robstoll-lib/atrium-core-robstoll-lib-android/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-common/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/test/kotlin/ch.tutteli.atrium.core.robstoll.lib.creating/CollectingAssertionContainerSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/test/kotlin/ch.tutteli.atrium.core.robstoll.lib.creating/ReportingAssertionContainerSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CheckingAssertionPlantSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CollectingAssertionPlantSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/ReportingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CheckingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CollectingAssertionPlantSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/creating/CollectingAssertionPlantSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/creating/ReportingAssertionContainerSpec.kt
Due: core, misc

use bundle fluent-en_GB instead of cc-en_GB-robstoll in mocha example
  bundles/fluent-en_GB/atrium-fluent-en_GB-js/src/main/kotlin/ch/tutteli/atrium/fluent/en_GB/dependOnMe.kt
  bundles/fluent-en_GB/atrium-fluent-en_GB-js/src/test/kotlin/testSetup.kt
  misc/examples/js/mocha/build.gradle
  misc/examples/js/mocha/src/test/kotlin/ch/tutteli/SmokeTest.kt
Due: misc

replace cc-en_GB usage with fluent in specs-common
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/fluent-en_GB/extensions/atrium-api-fluent-en_GB-jdk8/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/PathAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/creating/ReportingAssertionContainerSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/BigDecimalAssertionsSpec.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: api, misc

do no longer use gr -i in CI builds
  .travis.yml
Due: none

turn certain `TODO remove` into `will be removed`
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-jvm/src/test/kotlin/custom/SmokeSpec.kt
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-jvm/src/test/kotlin/custom/SmokeSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameRepresentationSpec.kt
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/anyAssertionsDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectionAssertionsDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/featureAssertionsDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterableAssertionsDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/listAssertionsDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertionsDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapEntryAssertionsDeprecated.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/pairAssertionsDeprecated.kt
Due: domain, core

turn FeatureAssertionCheckerSpec into common spec
  build.gradle
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/CollectingAssertionContainer.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CollectingAssertionContainerImpl.kt
  misc/specs/atrium-specs-android/build.gradle
  misc/specs/atrium-specs-common/build.gradle
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/checking/FeatureAssertionCheckerSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/creating/CollectingAssertionPlantSpec.kt
  misc/specs/atrium-specs-js/build.gradle
  misc/specs/atrium-specs-js/src/main/kotlin/io.mockk/mock.kt
  misc/specs/atrium-specs-jvm/build.gradle
Due: core, misc

deprecate api-cc-en_GB anyAssertions
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/typeTransformationDeprecatedAssertions.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-android/build.gradle
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-common/build.gradle
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-common/src/test/kotlin/SmokeTest.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-js/build.gradle
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-jvm/build.gradle
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/SpecBodyExtensions.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/reporting/translating/TranslatorIntSpec.kt
Due: api, misc

deprecate api-cc-en_GB arrayAssertions
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/arrayAssertions.kt
Due: api

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
