Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

adjust publishing, should include build time
  build.gradle
  gradle/scripts/publish.gradle
Due: none

v0.7.0-RC2
  README.md
  apis/differences.md
  build.gradle
  misc/maven/example-pom.xml
Due: api, misc

rename onlyFailureReporter to withOnlyFailureReporter
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/DefaultReporterFactory.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/ReporterOptionImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
Due: api, domain, core, misc

deprecate buildOnlyFailureReporter in deprecated ReporterBuilder
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
Due: none

explain why we specify ReporterFactory in AssertionVerb enum
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
Due: api

adjust ReplaceWith, package of AssertImpl is wrong
  core/atrium-core-api-deprecated/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicDescriptiveAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicExplanatoryAssertion.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/builders/ThrowableThrownBuilder.kt
Due: core

rename isNull to `toBe(null)` in Feature...Spec
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/FeatureAssertionsBoundedReferenceWhenCollectingPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/FeatureAssertionsSpec.kt
Due: misc

add spec about bounded reference in CollectingAssertionPlant context
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FeatureAssertionsBoundedReferenceWhenCollectingPlantSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/FeatureAssertionsBoundedReferenceWhenCollectingPlantSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/FeatureAssertionsBoundedReferenceWhenCollectingPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/FeatureAssertionsBoundedReferenceWhenCollectingPlantSpec.kt
Due: api, misc

v0.7.0
  README.md
  apis/differences.md
  build.gradle
  misc/maven/example-pom.xml
Due: api, misc

use provide...with for core-/domain-robstoll in module-info.java
  core/atrium-core-robstoll/src/module/module-info.java
  domain/atrium-domain-robstoll/src/module/module-info.java
Due: domain, core

prepare 0.8.0-SNAPSHOT
  README.md
  apis/differences.md
  build.gradle
Due: api

add bc tests for 0.7.0
  misc/atrium-bc-test/build.gradle
Due: misc

improve error reporting in bc-tests
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/DeprecationTestEngine.kt
Due: misc

generate source map for js modules
  build.gradle
Due: none

turn System.properties and ServiceLoader into multi-platform
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadService.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/properties.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterFactory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterFactoryCommon.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslatableWithArgs.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/coreFactory.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/properties.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterFactory.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslatableWithArgs.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/coreFactory.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/properties.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslatableWithArgs.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/OnlyFailureReporter.kt
Due: core

update to kbox 0.10.0
  build.gradle
Due: none

introduce an own Locale
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/Locale.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ArgumentsSupportingTranslator.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/LocaleOrderDecider.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslationSupplier.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/UsingDefaultTranslator.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/Locale.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/migration/toAtriumLocale.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/Locale.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  core/api/atrium-core-api-jvm/src/module/module-info.java
  core/atrium-core-robstoll-deprecated/build.gradle
  core/atrium-core-robstoll-deprecated/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/CoroutineBasedLocaleOrderDecider.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesBasedTranslationSupplier.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplier.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerLocaleTranslationSupplier.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslator.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/TranslationSupplierBasedTranslator.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/TranslationSupplierBasedTranslatorSpec.kt
  core/atrium-core-robstoll/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterBuilder.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/TextAssertionFormatterOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/TranslatorOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/ReporterBuilderImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/TranslatorOptionImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/LocaleOrderDeciderSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierBasedTranslatorSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierSpec.kt
Due: domain, core, misc

write KDoc for polyfills and rename loadService to loadSingleService
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadService.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/properties.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringBuilderExtensions.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
Due: core

rename getLocaleDefault to getDefaultLocale
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/UsingDefaultTranslator.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterBuilder.kt
Due: domain, core

introduce ext String.format as replacement of String.Companion.format
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ArgumentsSupportingTranslator.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslatableWithArgs.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/UsingDefaultTranslator.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
Due: core

turn core-robstoll into a multi-platform module
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_GB/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_GB/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_GB-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_GB-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  core/atrium-core-robstoll-lib/build.gradle
  core/robstoll/atrium-core-robstoll-common/build.gradle
  core/robstoll/atrium-core-robstoll-js/build.gradle
  core/robstoll/atrium-core-robstoll-jvm/build.gradle
  core/robstoll/atrium-core-robstoll-jvm/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  core/robstoll/atrium-core-robstoll-jvm/src/main/resources/META-INF/services/ch.tutteli.atrium.core.CoreFactory
  core/robstoll/atrium-core-robstoll-jvm/src/module/module-info.java
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  misc/atrium-verbs-internal/build.gradle
  misc/atrium-verbs/build.gradle
  settings.gradle
Due: api, domain, core, misc

update tutteli-gradle-plugin to 0.7.1
  build.gradle
  core/api/atrium-core-api-common/build.gradle
  core/api/atrium-core-api-js/build.gradle
  settings.gradle
Due: core

move core-robstoll-lib jvm code to common
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/fullName.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/fullName.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/fullName.kt
  core/api/atrium-core-api-jvm/src/module/module-info.java
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/DelegatingAssertionChecker.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/FeatureAssertionChecker.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CheckingAssertionPlantImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CollectingAssertionPlantImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/MutableListBasedAssertionPlant.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/MutableListBasedReportingAssertionPlant.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/ReportingAssertionPlantImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/ReportingAssertionPlantNullableImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AssertionFormatterControllerBasedFacade.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AssertionFormatterControllerImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/NoSpecialChildFormattingSingleAssertionGroupTypeFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/OnlyFailureReporter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/SingleAssertionGroupTypeFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextExplanatoryAssertionGroupFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextFallbackAssertionFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextFeatureAssertionGroupFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextIndentAssertionGroupFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextListAssertionGroupFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextListBasedAssertionGroupFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextMethodCallFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextNextLineAssertionPairFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextPrefixBasedAssertionGroupFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextSameLineAssertionPairFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextSummaryAssertionGroupFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/CoroutineBasedLocaleOrderDecider.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/TranslationSupplierBasedTranslator.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatter.kt
  core/robstoll/atrium-core-robstoll-common/build.gradle
  core/robstoll/atrium-core-robstoll-js/build.gradle
Due: core

move core-robstoll jvm code to common
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryCommonImpl.kt
  core/robstoll/atrium-core-robstoll-js/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
Due: core

fix getDefaultLocale() in JVM, should use toAtriumLocale
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/fullName.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/fullName.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/fullName.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/ObjectFormatterSpec.kt
Due: core, misc

turn translations-de_CH into a multi platform module
  apis/atrium-api-cc-de_CH/build.gradle
  build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  misc/atrium-bc-test/build.gradle
  settings.gradle
  translations/atrium-translations-de_CH-deprecated/build.gradle
  translations/atrium-translations-de_CH/build.gradle
  translations/de_CH/atrium-translations-de_CH-common/build.gradle
  translations/de_CH/atrium-translations-de_CH-js/build.gradle
  translations/de_CH/atrium-translations-de_CH-jvm/build.gradle
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionAnyAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBasic.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBigDecimalAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCharSequenceAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCollectionAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionComparableAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionFloatingPointAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionMapAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionThrowableAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionTypeTransformationAssertion.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/module/module-info.java
Due: api, misc

update to tutteli-gradle-plugin 0.8.0
  settings.gradle
Due: none

turn translations-en_GB into a multi platform module
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_GB/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_GB/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  build.gradle
  bundles/atrium-cc-en_GB-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_GB-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  domain/atrium-domain-api-deprecated/build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  misc/atrium-assertions/build.gradle
  misc/atrium-bc-test/build.gradle
  misc/atrium-spec/build.gradle
  settings.gradle
  translations/atrium-translations-en_GB/build.gradle
  translations/atrium-translations-en_UK-deprecated/build.gradle
  translations/en_GB/atrium-translations-en_GB-common/build.gradle
  translations/en_GB/atrium-translations-en_GB-js/build.gradle
  translations/en_GB/atrium-translations-en_GB-jvm/build.gradle
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionAnyAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBasic.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBigDecimalAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCharSequenceAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCollectionAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionComparableAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionFloatingPointAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionMapAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionThrowableAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionTypeTransformationAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/module/module-info.java
Due: api, domain, misc

move translations...-jvm to ...-common
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionAnyAssertion.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBasic.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCharSequenceAssertion.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCollectionAssertion.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionComparableAssertion.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionFloatingPointAssertion.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionMapAssertion.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionThrowableAssertion.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionTypeTransformationAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionAnyAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBasic.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCharSequenceAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCollectionAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionComparableAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionFloatingPointAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionMapAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionThrowableAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionTypeTransformationAssertion.kt
Due: none

use loadSingleService instead of SingleServiceLoader
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/assertions/composers/AssertionComposer.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/AnyAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/BigDecimalAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/CharSequenceAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/CollectionAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/ComparableAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/FeatureAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/FloatingPointAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/IterableAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/MapAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/ThrowableAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/any/typetransformation/creators/AnyTypeTransformationAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/any/typetransformation/failurehandlers/FailureHandlerFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/charsequence/contains/checkers/CheckerFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/charsequence/contains/searchbehaviours/SearchBehaviourFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/collectors/AssertionCollector.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/collectors/assertionCollectorsForExplanation.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/checkers/CheckerFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/searchbehaviours/SearchBehaviourFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/throwable/thrown/creators/ThrowableThrownAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/throwable/thrown/providers/AbsentThrowableMessageProviderFactory.kt
Due: domain

update KDoc reference to loadSingleService and not SingleServiceLoader
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/assertions/composers/AssertionComposer.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/AnyAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/BigDecimalAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/CharSequenceAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/CollectionAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/ComparableAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/FeatureAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/FloatingPointAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/IterableAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/MapAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/ThrowableAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/any/typetransformation/creators/AnyTypeTransformationAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/any/typetransformation/failurehandlers/FailureHandlerFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/charsequence/contains/checkers/CheckerFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/charsequence/contains/searchbehaviours/SearchBehaviourFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/collectors/AssertionCollector.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/collectors/assertionCollectorsForExplanation.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/checkers/CheckerFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/searchbehaviours/SearchBehaviourFactory.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/throwable/thrown/creators/ThrowableThrownAssertions.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/throwable/thrown/providers/AbsentThrowableMessageProviderFactory.kt
Due: domain

rename klass to kClass
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/fullName.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadService.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
Due: core

update to tutteli-gradle-plugin 0.9.0
  build.gradle
  misc/atrium-bc-test/build.gradle
  settings.gradle
Due: misc

refer to loadSingleService instead of SingleServiceLoader in KDoc
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/AssertImpl.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/BigDecimalAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/CollectionAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/ComparableAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FloatingPointAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/MapAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/anyAssertionsBuilders.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/charSequenceAssertionsBuilders.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/collectors/AssertionCollectorBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/throwableAssertionsBuilders.kt
Due: domain

remove unnecessary imports from AssertImpl
  domain/builders/atrium-domain-builders-js/src/main/kotlin/ch/tutteli/atrium/domain/builders/AssertImpl.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/AssertImpl.kt
Due: none
