Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

show beginning of stacktrace as hint if wrong Exception was thrown
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/ThrowableAssertionsSpec.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/any/typetransformation/AnyTypeTransformation.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerBase.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerWithHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ThrowableThrownFailureHandler.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ThrowableAssertionsSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionThrowableAssertion.kt
  translations/atrium-translations-en_GB/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionThrowableAssertion.kt
Due: api, domain, misc

fix doc links in README and other improvements
  README.md
  misc/kdoc/packages.md
Due: misc

align ReporterBuilder with AssertionBuilders
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AssertionFormatterControllerOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AssertionFormatterFacadeOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AssertionPairFormatterOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/LocaleOrderDeciderOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ObjectFormatterOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterBuilderFinalStep.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/TextAssertionFormatterOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/AssertionFormatterControllerOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/AssertionFormatterFacadeOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/AssertionPairFormatterOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/DefaultReporterFactory.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/LocaleOrderDeciderOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/ObjectFormatterOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/ReporterBuilderFinalStepImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/ReporterBuilderImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/ReporterOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/TranslatorOptionImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
Due: api, domain, core, misc

suffix withExplanatoryAssertion with s for overload with vararg
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryGroup.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/bigDecimalAssertions.kt
Due: domain, core

deprecate toThrow() remove from cc-en_GB and cc-infix-en_GB
  README.md
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/throwableAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/ThrowableAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/ThrowableAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/throwableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/ThrowableAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/ThrowableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CheckingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/ReportingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/AnyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/BigDecimalAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsRegexAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ThrowableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/TypeTransformationAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
Due: api, misc

exclude api-cc-en_GB from other APIs and bundles
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/TypeTransformationAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/TypeTransformationAssertionsSpec.kt
  domain/atrium-domain-robstoll-lib/build.gradle
Due: api, domain

introduce alias any/none for contains/containsNot entry
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableAnyAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableNoneAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableAnyAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableNoneAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableAnyAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableNoneAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableAnyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsEntriesSpecBase.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableNoneAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterablePredicateSpecBase.kt
Due: api, misc

use nonNullableCases in IterableContainsNotAssertionsSpec
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotAssertionsSpec.kt
Due: misc

introduce `all` assertion fun for Iterable<T>
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableAllAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableAllAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableAllAssertionsSpec.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/IterableAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/IterableAssertionsImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableAllAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableAnyAssertionsSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
  translations/atrium-translations-en_GB/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
Due: api, domain, misc

add overload for Iterable contains with single identification lambda
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
Due: api

document new predicate-like assertion fun in differences.md
  apis/differences.md
Due: api

move sizeExceeded helper val up to IterableContainsSpecBase
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsSpecBase.kt
Due: misc

move entryWithIndex helper val up to IterableContainsSpecBase
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsSpecBase.kt
Due: domain, misc

check there is at least one element for Iterable containsNot/none
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableNoneAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableNoneAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableNoneAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNotAssertionsSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/creators/CharSequenceContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableNoneAssertionsSpec.kt
Due: api, domain, misc

return NotSearchBehaviour instead of InAnyOrderS... for containsNot
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
Due: api

rename containsEntriesFun.kt to containsHelperFun.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/containsHelperFun.kt
Due: domain

move containsEntriesFun.kt to iterable.contains
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/containsEntriesFun.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyEntriesMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterableAssertions.kt
Due: domain

reword lambda function to identification lambdas
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
Due: api

remove duplicated createHasElementAssertion in iterableAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterableAssertions.kt
Due: domain

add spec for containsNot entries
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNotEntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNotValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNotEntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNotValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNotValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsNotEntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsNotValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNotValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotValuesAssertionsSpec.kt
Due: api, misc

rename RegularPattern to RegexPattern in differences.md
  apis/differences.md
Due: api

move anEntryWhichIs up to IterableContainsSpecBase
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeastValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtMostValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderExactlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderNotOrAtMostValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsSpecBase.kt
Due: misc

rename `failing assertions` to `failing cases` in specs
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsAtLeastAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsAtMostAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsExactlyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsNotAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsNotOrAtMostAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeastValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtMostValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderExactlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderNotOrAtMostValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableNoneAssertionsSpec.kt
Due: misc

move createAssertionGroupForSearchCriteriaAssertions up
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderEntriesAssertionCreator.kt
Due: domain

improve spec with atLeast, atMost etc. include number
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsAtLeastAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsAtMostAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsContainsNotAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsExactlyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsNotOrAtMostAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeastValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtMostValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderExactlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderNotOrAtMostValuesAssertionsSpec.kt
Due: misc

fix typo in de_CH, contains ignoring case
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCharSequenceAssertion.kt
Due: none

deprecate enthaeltStandardUebersetzungVon in cc-de_CH
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCreators.kt
Due: api

remove usages of defaultTranslationOf
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/ReportingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/AnyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/BooleanAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsDefaultTranslationAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsNotOrAtMostAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CollectionAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ComparableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableAnyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderExactlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderOnlyEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ThrowableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/TypeTransformationAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/iterableAbsentSubjectTest.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
Due: misc

remove defaultTranslationOf from cc-en_GB and cc-infix-en_GB
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/charSequenceAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/charSequenceContainsCreators.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/CharSequenceAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/CharSequenceContainsDefaultTranslationOfAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/CharSequenceContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/charSequenceContainsCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/parameterObjects.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/CharSequenceAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/CharSequenceContainsDefaultTranslationOfAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/CharSequenceContainsSpecBase.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsRegexAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CollectionAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
Due: api, misc

fix typo in de_CH DescriptionTypeTransformationAssertion.IS_A
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionTypeTransformationAssertion.kt
Due: none

suppress unused param for deprecated feature assertions
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/featureAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/featureAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/featureAssertions.kt
Due: api

rename param `entry` to nullableEntry where one can pass null
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
Due: api

add notice about runtime check to containsNot
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/charSequenceAssertions.kt
Due: api

rename Decorators to SearchBehaviours
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/charSequenceContainsSearchBehaviours.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsSearchBehaviours.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/charSequenceContainsSearchBehaviours.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsSearchBehaviours.kt
Due: api

replace `object` with `value` in CharSequence contains KDoc
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/charSequenceContainsCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/charSequenceContainsCreators.kt
Due: api

indicate that `null` can be passed by suffixing params with OrNull
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsCheckers.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsCheckers.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsCheckers.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
Due: api

use `(if given)` instead of `(if defined)`
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/charSequenceAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/throwableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
Due: api

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
