Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

add TODO to remove IndentAssertionGroupType from atriumVerbs
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
Due: api

fix setter in jacoco-multi-project.gradle
  gradle/scripts/jacoco-multi-project.gradle
Due: none

re-add deprecated BigDecimal assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/bigDecimalAssertions.kt
Due: none

re-add deprecated feature assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/featureAssertions.kt
Due: none

re-add deprecated Collection assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/collectionAssertions.kt
Due: none

re-add deprecated Comparable assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/comparableAssertions.kt
Due: none

re-add throwable thrown assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/throwableAssertions.kt
Due: none

re-add floating point assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/floatingPointAssertions.kt
Due: none

reformat floatingPoint- and bigDecimalAssertions
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/bigDecimalAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/floatingPointAssertions.kt
Due: domain

re-add type transformation assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/typeTransformationAssertions.kt
Due: none

re-add CharSequence assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/charSequenceAssertions.kt
Due: none

re-add Iterable assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/collectionAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/iterableAssertions.kt
Due: none

adjust examples with atrium-assertions in README
  README.md
Due: none

add domain-robstoll as dependency to bundles
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
Due: none

rewrite description of bundle modules
  README.md
  apis/differences.md
  misc/kdoc/packages.md
Due: api, misc

deprecate old type transformations
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/typeTransformationAssertions.kt
Due: none

move old impl-functions back to assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/anyAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/collectionAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/comparableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/featureAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/typeTransformationAssertions.kt
Due: none

re-add deprecated type transformation classes
  atrium-assertions/build.gradle
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/AnyTypeTransformation.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/DownCaster.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
Due: none

re-add deprecated basic contains classes
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/AnyTypeTransformation.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/Contains.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsCheckerBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/containsValidators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/checkers/ContainsChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
Due: none

duplicate code in deprecated DownCaster
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/DownCaster.kt
Due: none

introduce factory for Iterable contains checkers
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsCheckers.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsCheckers.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IIterableContainsCheckers.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/builders/containsValidators.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsAtLeastCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsButAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsExactlyCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsNotCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilderBase.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/checkers/ContainsChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsNoOpCheckerBuilder.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsAtLeastChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsAtMostChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsExactlyChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsNotChecker.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsCheckers.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsCheckers.kt
Due: domain

re-add deprecated throwable thrown classes
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/ThrowableThrown.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/builders/ThrowableThrownBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/providers/TranslatableAsAbsentThrowableMessageProvider.kt
Due: none

introduce factory for CharSequence contains checkers
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  build.gradle
  core/atrium-core-robstoll-lib/build.gradle
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsCheckers.kt
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/ICharSequenceContainsCheckers.kt
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilderBase.kt
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsAtLeastChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsAtMostChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsExactlyChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsNotChecker.kt
  domain/atrium-domain-robstoll/build.gradle
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsCheckers.kt
  settings.gradle
Due: api, domain, core

abstract Iterable search behaviour
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsDecorators.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsSearchBehaviours.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IIterableContainsSearchBehaviours.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInAnyOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInAnyOrderSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInOrderSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsNotSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/searchBehaviours.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/searchBehaviours.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInAnyOrderOnlySearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInAnyOrderSearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInOrderOnlySearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsInOrderSearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsNotSearchBehaviour.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/searchBehaviours.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsSearchBehaviours.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsSearchBehaviours.kt
Due: api, domain

abstract CharSequence search behaviour
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsSearchBehaviours.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/ICharSequenceContainsCheckers.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsIgnoringCaseSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/ICharSequenceContainsSearchBehaviours.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IIterableContainsCheckers.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charSequenceAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsIgnoringCaseSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/searchBehaviours.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsSearchBehaviours.kt
Due: api, domain

re-add deprecated CharSequence contains builders
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/CharSequenceContains.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsCheckerBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsAtLeastChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsAtMostChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsExactlyChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsNotChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/creators/CharSequenceContainsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/creators/creators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsIgnoringCaseSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNoOpSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/searchBehaviours.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchers/CharSequenceContainsIgnoringCaseIndexSearcher.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchers/CharSequenceContainsIgnoringCaseRegexSearcher.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchers/CharSequenceContainsIndexSearcher.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchers/CharSequenceContainsRegexSearcher.kt
Due: none

remove contains from Checker factory methods
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/checkers/ContainsChecker.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsCheckers.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsCheckers.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/ICharSequenceContainsCheckers.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IIterableContainsCheckers.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsAtLeastCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsButAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsExactlyCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsNotCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilderBase.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsAtLeastChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsAtMostChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsExactlyChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsNotChecker.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CharSequenceContainsCheckers.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsCheckers.kt
Due: domain

move ReporterBuilder from api to domain-builders
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  misc/atrium-verbs/build.gradle
Due: domain, misc

rename param checker to checkerBuilder
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/ICharSequenceContainsAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IIterableContainsAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/IterableContainsChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/creators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsAssertions.kt
Due: domain

remove `contains` from SearchBehaviours
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsDecorators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/searchBehaviours.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsSearchBehaviours.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsSearchBehaviours.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/ICharSequenceContainsSearchBehaviours.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IIterableContainsSearchBehaviours.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsSearchBehaviours.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/IterableContainsSearchBehaviours.kt
Due: api, domain

fix wrong ReplaceWith, package creating
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/CharSequenceContains.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsChecker.kt
Due: none

re-add deprecated Iterable contains builders
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/IterableContains.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsCheckerBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNoOpCheckerBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/checkers/IterableContainsAtLeastChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/checkers/IterableContainsAtMostChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/checkers/IterableContainsChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/checkers/IterableContainsExactlyChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/checkers/IterableContainsNotChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/creators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderOnlySearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderOnlySearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNoOpSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNotSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/searchBehaviours.kt
Due: none

rename ThrowableThrownAssertions::toThrow to toBe
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/throwableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwableAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/IThrowableThrownAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/creators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertions.kt
Due: api, domain

remove `contains` from ContainsAssertions
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/creators/creators.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/ICharSequenceContainsAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IIterableContainsAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsAssertions.kt
Due: api, domain

introduce AssertionComposer
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionComposer.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/IAssertionComposer.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/assertions/FixHoldsAssertionGroup.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptiveWithFailureHint.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/assertions/builders/fixHoldsGroup.kt
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/bigDecimalAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/floatingPointAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/containsEntriesFun.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionComposer.kt
Due: domain

rename charSequenceContainsSearchers to ...Creators
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsCreators.kt
Due: api

move de_CH API builders to package creating
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/iterable/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsCheckers.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsSpecBase.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
Due: api

re-add deprecated API builders
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
Due: none

move api-cc-en_UK builders to package creating
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/iterable/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsCheckers.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsSpecBase.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsSpecBase.kt
Due: api

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
