Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

move api-cc-infix-en_UK builders to package creating
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/charsequence/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/creating/iterable/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsCheckers.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsSpecBase.kt
Due: api

move AssertionComposer to assertions.composers
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/assertions/composers/AssertionComposer.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/composers/IAssertionComposer.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptiveWithFailureHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/assertions/composers/descriptiveWithFailureHint.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionComposer.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/assertions/composers/AssertionComposer.kt
Due: domain

remove translation from domain-api
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
Due: domain

extract assertion builders, hide root and invisible
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveAssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/EmptyNameAndSubjectAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryAssertionGroupBuilders.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/invisibleGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/root.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/DelegatingAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/checking/ThrowingAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/ReportingAssertionPlantImpl.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextFallbackAssertionFormatterSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatterSpec.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptiveWithFailureHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
Due: domain, core

update packages.md
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  atrium-assertions/build.gradle
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  build.gradle
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/CoreFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/EmptyNameAndSubjectAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryAssertionGroupBuilders.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/Assert.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/composers/IAssertionComposer.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptiveWithFailureHint.kt
  misc/kdoc/packages.md
Due: api, domain, core, misc

ignore deprecated assertion builders in api modules
  codecov.yml
Due: none

add smoke tests to bundle
  build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-de_CH-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/src/test/kotlin/SmokeSpec.kt
Due: none

improve description of own assertion verb
  README.md
  build.gradle
Due: none

re-add deprecated translatables in assertions
  codecov.yml
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionAnyAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBasic.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCharSequenceAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionComparableAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionThrowableAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionTypeTransformationAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBasic.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCollectionAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionTypeTransformationAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionAnyAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBasic.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCharSequenceAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionComparableAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionThrowableAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionTypeTransformationAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBasic.kt
Due: none

introduce IAnyTypeTransformationFailureHandlers
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/typeTransformationAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/AnyTypeTransformationAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/AnyTypeTransformationFailureHandlers.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/AnyTypeTransformation.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/IAnyTypeTransformationAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/IAnyTypeTransformationFailureHandlers.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/DownCastAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/TypeTransformationAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/ExplanatoryTypeTransformationFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/creating/any/typetransformation/TypeTransformerSpec.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/AnyTypeTransformationAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/AnyTypeTransformationFailureHandlers.kt
Due: domain

show exception message if it is a different type
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/AnyTypeTransformationFailureHandlers.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/IAnyTypeTransformationFailureHandlers.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerBase.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerWithHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/ExplanatoryTypeTransformationFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/ThrowableThrownFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/creating/any/typetransformation/TypeTransformerSpec.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/AnyTypeTransformationFailureHandlers.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionThrowableAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionThrowableAssertion.kt
Due: domain

align any type transformation to others
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/typeTransformationAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/typeTransformationAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/typeTransformationAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/DownCaster.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/typeTransformationAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/AnyTypeTransformationAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/AnyTypeTransformation.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/IAnyTypeTransformationAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/ThrowableThrown.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/TypeTransformer.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/DownCastAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/TypeTransformationAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/ExplanatoryTypeTransformationFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/typeTransformationAssertions.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/creating/any/typetransformation/TypeTransformerSpec.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/TypeTransformationAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/AnyTypeTransformationAssertions.kt
Due: api, domain

also add SearchBehaviours to AssertImpl
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsDecorators.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charSequenceAssertionsBuilders.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterableAssertionsBuilders.kt
Due: api, domain

rename fun typeTransformation to transform
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/typeTransformationAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/AnyTypeTransformationAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/IAnyTypeTransformationAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/anyAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/creating/any/typetransformation/TypeTransformerSpec.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/AnyTypeTransformationAssertions.kt
Due: domain

write KDoc for AssertImpl and co.
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/AssertImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/anyAssertionsBuilders.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charSequenceAssertionsBuilders.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterableAssertionsBuilders.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/throwableAssertionsBuilders.kt
Due: domain

use AssertImpl in @Deprecated
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/DownCaster.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/anyAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/creators/creators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/searchBehaviours.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/collectionAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/comparableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/featureAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/creators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/searchBehaviours.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/typeTransformationAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/anyAssertionsBuilders.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/BigDecimalAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchbehaviours/CharSequenceContainsSearchBehaviours.kt
Due: domain

get rid of core-api-late-binding from domain-api
  domain/atrium-domain-api-late-binding/build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll/build.gradle
Due: domain

rename TypeTransformerSpec to reflect Creator and move
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/TypeTransformationAssertionCreatorSpec.kt
Due: domain

failureHintFactory can return an Assertion
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/assertions/composers/AssertionComposer.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/AnyTypeTransformationFailureHandlers.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/composers/IAssertionComposer.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/IAnyTypeTransformationFailureHandlers.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptiveWithFailureHint.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/anyAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/assertions/composers/descriptiveWithFailureHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerWithHint.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/assertions/composers/AssertionComposer.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/failurehandlers/AnyTypeTransformationFailureHandlers.kt
Due: domain

rename FAILURE_TO_BE to IS_EQUAL_INCLUDING_BUT...
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/BigDecimalAssertionsSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/bigDecimalAssertions.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBigDecimalAssertion.kt
Due: domain

use failureHandlers builder in spec
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/TypeTransformationAssertionCreatorSpec.kt
Due: domain

Comparable does not need to be the same type
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/ComparableAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/IComparableAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/ComparableAssertionsBuilder.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/comparableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/ComparableAssertions.kt
Due: domain

move message for PlantHasNoSubjectException into class
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CollectingAssertionPlantSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/SubjectLessAssertionSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/PlantHasNoSubjectException.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/constants.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
Due: domain, core

AssertImpl and co. all inline, exclude from codecov
  codecov.yml
Due: none

fix codecov builders instead of builers
  codecov.yml
Due: none

adjust ignore pattern for atrium-assertions
  codecov.yml
Due: none

add gradle fun to avoid repetition of rootProject
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  core/atrium-core-api-late-binding/build.gradle
  core/atrium-core-robstoll-lib/build.gradle
  core/atrium-core-robstoll/build.gradle
  domain/atrium-domain-api-late-binding/build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll/build.gradle
  misc/atrium-assertions/build.gradle
  misc/atrium-spec/build.gradle
  misc/atrium-verbs/build.gradle
  settings.gradle
  translations/atrium-translations-de_CH/build.gradle
  translations/atrium-translations-en_UK/build.gradle
Due: api, domain, core, misc

improve error message for contains and object
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/creators.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/creators/creators.kt
Due: domain

don't create reports per default
  gradle/scripts/jacoco-multi-project.gradle
  gradle/scripts/spek.gradle
Due: none

deprecated builders have to use deprecated classes
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
Due: none

AtriumFactory has to implement deprecated IAtriumFactory
  core/atrium-core-robstoll/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
Due: none

introduce interface for ContainsBuilder
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/Contains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/checkers/ContainsChecker.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/Contains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/builders/ContainsBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/builders/ContainsCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/builders/containsValidators.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilderBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilderBase.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/Contains.kt
Due: api, domain

make build-time optional
  gradle/scripts/publish.gradle
Due: none

remove ContainsCheckerBuilder
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/builders/ContainsCheckerBuilder.kt
Due: domain
