Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

move validateAtMost/ButAtMost from domain-api to domain-builders
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/ReportingAssertionPlantNullableImpl.kt
  domain/atrium-domain-api/src/module/module-info.java
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/charsequence/contains/builders/AtMostCheckerOptionBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/charsequence/contains/builders/ButAtMostCheckerOptionBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterable/contains/builders/AtMostCheckerOptionBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterable/contains/builders/ButAtMostCheckerOptionBase.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/containsValidators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/FeatureAssertionsImpl.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/containsValidators.kt
  misc/kdoc/packages.md
Due: domain, core, misc

add atrium-verbs-internally to packages.md
  misc/kdoc/packages.md
Due: misc

include verbs in bundles
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_GB-robstoll/build.gradle
  bundles/atrium-cc-en_GB-robstoll/src/module/module-info.java
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_GB-robstoll/build.gradle
  bundles/atrium-cc-infix-en_GB-robstoll/src/module/module-info.java
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
Due: none

use own ReporterFactory for cc-de-CH
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-de_CH/src/test/resources/META-INF/services/ch.tutteli.atrium.reporting.ReporterFactory
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterFactory.kt
Due: api, core

fix typo: ones instead of once
  README.md
Due: none

add overload for property/returnValueOf for class reference
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/featureAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FeatureAssertionsBoundedReferenceSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FeatureAssertionsClassReferenceSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/featureAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/FeatureAssertionsBoundedReferenceSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/FeatureAssertionsClassReferenceSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/featureAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/FeatureAssertionsBoundedReferenceSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/FeatureAssertionsClassReferenceSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/FeatureAssertionsSpec.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/assertWithReceiverHelper.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderClassSpec.kt
Due: api, domain

use cc-en_GB in domain-robstoll-lib
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/collectors/AssertionCollector.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/collectors/AssertionCollectorBuilder.kt
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerBase.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectionAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  domain/atrium-domain-robstoll-lib/src/module/module-info.java
Due: domain

evaluate subjectProvider only once in CollectingAssertionPlant
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlantWithCommonFields.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/CollectingAssertionPlant.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CollectingAssertionPlantImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/featureAssertions.kt
Due: domain, core

introduce representationProvider to CommonFields
  README.md
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/core/evalOnce.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlantWithCommonFields.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/BaseAssertionPlant.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/CollectingAssertionPlant.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CollectingAssertionPlantImpl.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/FeatureAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameRepresentationSpec.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectionAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/featureAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/FeatureAssertionsImpl.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/featureAssertions.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/ReportingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/FeatureAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNullSpec.kt
Due: domain, core, misc

allow translatable for property feature assertions
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextMethodCallFormatter.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/FeatureAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameRepresentationSpec.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/featureAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/FeatureAssertionsImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/FeatureAssertionsSpec.kt
Due: domain, core, misc

allow custom subject for AssertionCollector
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/collectors/AssertionCollector.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/collectors/AssertionCollectorBuilder.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectors/collect.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/collectors/AssertionCollectorImpl.kt
Due: domain

update kbox to 0.8.0
  build.gradle
Due: none

update kbox to 0.7.0
  build.gradle
Due: none

do not format invisible group as group but each member
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatterController.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AssertionFormatterControllerImpl.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/SingleAssertionGroupTypeFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextSummaryAssertionGroupFormatter.kt
  core/atrium-core-robstoll/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/LazyThreadUnsafeAssertionGroup.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
Due: domain, core, misc

turn InvisibleAssertionGroup into an object
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/InvisibleAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/InvisibleAssertionGroupType.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/invisibleGroup.kt
  core/atrium-core-robstoll-deprecated/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/InvisibleAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/InvisibleAssertionGroupFormatterSpec.kt
  core/atrium-core-robstoll/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
Due: core, misc

use cc-en_GB for InOrderOnlyGroupedValuesAssertionCreator
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  domain/atrium-domain-robstoll-lib/src/module/module-info.java
Due: domain

introduce grouped entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/paramObjects.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/parameterObjects.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/paramObjects.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/parameterObjects.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/parameterObjects.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/creators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/creators/IterableContainsAssertionsImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNullSpec.kt
Due: api, domain, misc

use provider + index instead of Iterator in createEntryAssertionTemplate
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyEntriesMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyValueMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
Due: domain

reduce code duplication `contains ... grouped`
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedValuesAssertionCreator.kt
Due: domain

reduce code duplication between contains in order only and ... grouped
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyEntriesMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyValueMatcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
Due: domain

add API fun for grouped nullable entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedNullableSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedNullableSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedNullableSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedNullableSpec.kt
Due: api, misc

remove non-nullable overloads in IterableContainsAssertions
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/creators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/creators/IterableContainsAssertionsImpl.kt
Due: api, domain

distinguish nullable in `contains...grouped`
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/parameterObjects.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedNullableSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedValuesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/parameterObjects.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedNullableSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedValuesSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/parameterObjects.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedNullableSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedValuesSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/groupsToList.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedNullableSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedValuesSpec.kt
Due: api, domain, misc

distinguish between Iterable<T?> and Iterable<T>
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
Due: api

update differences.md
  apis/differences.md
Due: api

move nullable overloads next to non-nullable and update KDoc
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
Due: api

distinguish (non-)nullable in shortcut fun for contains assertions
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNullSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsSpecBase.kt
Due: api, misc

move contains in any order only nullable spec to specific spec
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsContainsNotAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeastValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtMostValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderExactlyValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderNotOrAtMostValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderOnlyValuesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedValuesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyValuesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNullSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/iterableAbsentSubjectTest.kt
  misc/atrium-verbs/src/test/kotlin/ch/tutteli/atrium/verbs/VerbSpec.kt
Due: api, misc

rename IterableContainsNullSpec to ..InAnyOrderAtLeast1Spec
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1EntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderAtLeast1EntriesSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderAtLeast1EntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderAtLeast1EntriesSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtLeast1EntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsSpecBase.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1EntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
Due: api, misc

add spec for in any order at least 1 values
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsContainsNotAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1ValuesSpec.kt
Due: api, misc

add spec for in any order at least 1 entries
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderEntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderEntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderEntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderEntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderEntriesAssertionsSpec.kt
Due: api, misc

add spec for in order only nullable values
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsSpecBase.kt
Due: api, misc

introduce helper functions for nullable and nonNullableCases in Specs
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsEntriesSpecBase.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderOnlyEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsSpecBase.kt
Due: misc

add spec for in any order only nullable values
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsEntriesSpecBase.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsSpecBase.kt
Due: api, misc

introduce contains in order only grouped nullable values
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/creators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/creators/IterableContainsAssertionsImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
Due: api, domain, misc

move grouped nullable entries spec to non-nullable spec
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedNullableAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedNullableAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedNullableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedNullableAssertionsSpec.kt
Due: api, misc

rename nullable version of entry to nullableEntry
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyEntriesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderOnlyEntriesAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderOnlyEntriesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
Due: api
