Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

up date sneak peek warning, still point to 0.7.0
  README.md
Due: none

fix space between click me and maven down
  README.md
Due: none

rephrase `We try to provide you workaround`
  README.md
Due: none

move smoke tests in bundles to common module
  build.gradle
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-common/src/test/kotlin/SmokeTest.kt
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-js/src/main/kotlin/testSetup.kt
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-js/src/test/kotlin/testSetup.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-common/src/test/kotlin/SmokeTest.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-js/src/main/kotlin/testSetup.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-js/src/test/kotlin/testSetup.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-jvm/src/test/kotlin/custom/SmokeSpec.kt
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-common/src/test/kotlin/SmokeTest.kt
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-js/src/main/kotlin/testSetup.kt
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-js/src/test/kotlin/testSetup.kt
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-jvm/src/test/kotlin/custom/SmokeSpec.kt
  core/api/atrium-core-api-android/build.gradle
  core/api/atrium-core-api-js/src/test/kotlin/testSetup.kt
  core/api/atrium-core-api-jvm/build.gradle
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/anyAssertions.kt
  settings.gradle
Due: domain, core

add sample project with mocha, stabilise JS dependency workaround
  README.md
  build.gradle
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-js/src/main/kotlin/ch/tutteli/atrium/cc/de_CH/robstoll/dependOnMe.kt
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-js/src/main/kotlin/testSetup.kt
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-js/src/test/kotlin/testSetup.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-js/src/main/kotlin/ch/tutteli/atrium/cc/en_GB/robstoll/dependOnMe.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-js/src/main/kotlin/testSetup.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-js/src/test/kotlin/testSetup.kt
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-js/src/main/kotlin/ch/tutteli/atrium/cc/infix/en_GB/robstoll/dependOnMe.kt
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-js/src/main/kotlin/testSetup.kt
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-js/src/test/kotlin/testSetup.kt
  core/robstoll/atrium-core-robstoll-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/dependOnMe.kt
  domain/robstoll/atrium-domain-robstoll-js/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/dependOnMe.kt
  gradle/package-lock.json
  misc/examples/js/mocha/README.md
  misc/examples/js/mocha/build.gradle
  misc/examples/js/mocha/src/test/kotlin/ch/tutteli/SmokeTest.kt
  settings.gradle
Due: domain, core, misc

split up installation into jvm, js and android
  README.md
  build.gradle
Due: none

`jump to examples` instead of `the next section shows`
  README.md
Due: none

add example for using the infix API on the JS platform
  README.md
Due: none

document how to setup Atrium in a common module
  README.md
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackSpec.kt
Due: core

v0.8.0-RC1
  .github/CONTRIBUTING.md
  README.md
  apis/differences.md
  build.gradle
  misc/examples/js/mocha/build.gradle
  misc/maven/example-pom.xml
Due: api, misc

improve js example, inject dependency to atrium based on kotlin
  misc/examples/js/mocha/build.gradle
Due: misc

provide KDoc for Locale and other doc improvements
  README.md
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtentions.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/constants.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Translatable.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslatableWithArgs.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/translating/determineIdForTranslatable.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/translating/determineIdForTranslatable.kt
  misc/kdoc/packages.md
Due: core, misc

update to kbox 0.13.0 use blankToNull
  build.gradle
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/migration/toAtriumLocale.kt
Due: core

deprecate formatFloatingPointNumber and add TODO
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/formatFloatingPointNumber.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/FormatFloatingPointNumberTest.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/floatingPointAssertions.kt
Due: domain, core

exclude all transitive dependencies from bc-test dependencies
  misc/atrium-bc-test/build.gradle
Due: misc

mention contributors in the contribute section
  README.md
Due: none

v0.8.0
  .github/CONTRIBUTING.md
  README.md
  apis/differences.md
  build.gradle
  misc/examples/js/mocha/README.md
  misc/examples/js/mocha/build.gradle
  misc/maven/example-pom.xml
Due: api, misc

prepare 0.9.0-SNAPSHOT
  .github/CONTRIBUTING.md
  README.md
  apis/differences.md
  build.gradle
Due: api

create backward compatibility tests for 0.8.0
  misc/atrium-bc-test/build.gradle
Due: misc

include AppVeyor badge
  README.md
  build.gradle
Due: none

fix code examples in README use kotlin.Int and other improvements
  README.md
Due: none

logo
  logo.svg
  logo_short.svg
Due: none

made logo smaller
  logo.svg
Due: none

logo as png
  logo.png
  logo.svg
Due: none

add logo
  README.md
Due: none

improve teaser
  README.md
Due: none

document migration strategy
  README.md
Due: none

use term `reporting` instead of `error reporting` where appropriate
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/checking/AssertionChecker.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlantWithCommonFields.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/BaseCollectingAssertionPlant.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/CheckingAssertionPlant.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/CollectingAssertionPlant.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/CollectingAssertionPlantNullable.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/any/typetransformation/failurehandlers/FailureHandlerFactory.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/builders/ThrowableThrownBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/AssertImpl.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/builders/ThrowableThrownBuilder.kt
Due: domain, core

fix appveyor link (pointed to kbox instead of atrium)
  README.md
Due: none

introduce AssertionContainer with an invariant T without upper bound
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/AnyAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/AnyAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/AnyAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsDeprecatedSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/AnyAssertionsSpec.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/AssertionContainerWithCommonFields.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlant.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/CheckingAssertionContainer.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/CollectingAssertionContainer.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/Expect.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/ReportingAssertionContainer.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/SubjectProvider.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CheckingAssertionContainerImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CollectingAssertionContainerImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/MutableListBasedAssertionContainer.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/ReportingAssertionContainerImpl.kt
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/CoreFactoryCommonImpl.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/AnyAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/anyAssertionsBuilders.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/anyAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/AnyAssertionsImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/AnyAssertionsDeprecatedSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/AnyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/SubjectLessAssertionDeprecatedSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/AssertionVerbFactory.kt
  misc/verbs-internal/atrium-verbs-internal-common/src/main/kotlin/ch.tutteli.atrium.api.verbs.internal/atriumVerbs.kt
  misc/verbs-internal/atrium-verbs-internal-jvm/src/main/kotlin/ch/tutteli/atrium/api/verbs/internal/AssertionVerbFactory.kt
  misc/verbs/atrium-verbs-common/src/main/kotlin/ch/tutteli/atrium/api.verbs/AssertionVerb.kt
  misc/verbs/atrium-verbs-common/src/main/kotlin/ch/tutteli/atrium/api.verbs/expect.kt
Due: api, domain, core, misc

update gradle to 5.4.1, tutteli-gradle to 0.26.1, task-tree to 1.3.1
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/build.gradle
  build.gradle
  gr
  gradle/scripts/gh-pages.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  misc/atrium-bc-test/build.gradle
  settings.gradle
Due: api, misc

add logo for social
  logo_social.png
  logo_social.svg
Due: none

fix size of png and add white bg
  logo_social.png
Due: none

start the transition to spek2 - use it for tests based on Expect
  apis/cc-en_GB/atrium-api-cc-en_GB-android/build.gradle
  apis/cc-en_GB/atrium-api-cc-en_GB-common/build.gradle
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-js/build.gradle
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/build.gradle
  build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/CoroutineBasedLocaleOrderDecider.kt
  misc/atrium-bc-test/build.gradle
  misc/specs/atrium-specs-android/build.gradle
  misc/specs/atrium-specs-common/build.gradle
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/SpekExtensions.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/SubjectLessAssertionSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/AnyAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/test.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/verbs/AssertionVerbFactory.kt
  misc/specs/atrium-specs-js/build.gradle
  misc/specs/atrium-specs-js/src/main/kotlin/org/spekframework/spek2/Spek.kt
  misc/specs/atrium-specs-js/src/main/kotlin/org/spekframework/spek2/dsl/GroupScope.kt
  misc/specs/atrium-specs-js/src/main/kotlin/org/spekframework/spek2/dsl/Root.kt
  misc/specs/atrium-specs-js/src/main/kotlin/org/spekframework/spek2/lifecycle/CachingMode.kt
  misc/specs/atrium-specs-js/src/main/kotlin/org/spekframework/spek2/style/specification/describe.kt
  misc/specs/atrium-specs-jvm/build.gradle
  misc/verbs-internal/atrium-verbs-internal-android/build.gradle
  misc/verbs-internal/atrium-verbs-internal-common/build.gradle
  misc/verbs-internal/atrium-verbs-internal-common/src/main/kotlin/ch.tutteli.atrium.api.verbs.internal/AssertionVerbFactory.kt
  misc/verbs-internal/atrium-verbs-internal-js/build.gradle
  misc/verbs-internal/atrium-verbs-internal-jvm/build.gradle
  settings.gradle
Due: api, core, misc

transform CheckingAssertionSpec to Expect
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/CheckingAssertionSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/AnyAssertionsSpec.kt
Due: misc

update spek to next 2.1.0-alpha.10
  build.gradle
  gradle/package-lock.json
Due: none

transform toBeNullIfNullGiven to Expect
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/AnyAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/anyAssertionsBuilders.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/anyAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/AnyAssertionsImpl.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/AnyAssertionsSpec.kt
Due: api, domain, misc

transform noToBe, isSameAs, isNotSameAS to Expect
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/AnyAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/anyAssertionsBuilders.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/anyAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/AnyAssertionsImpl.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/AnyAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/testUtils.kt
Due: api, domain, misc

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
