Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

APIs should only have a dependency on assertions
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/featureAssertions.kt
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/featureAssertions.kt
  apis/atrium-api-cc-infix-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/featureAssertions.kt
Due: api

re-add AssertionGroup.Builder but deprecated
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
Due: core

use AssertionBuilder in README
  README.md
Due: none

update kotlin to 1.2.21
  build.gradle
Due: none

make assertion builders internal
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/SubjectLessAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicDescriptiveAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/EmptyNameAndSubjectAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/ExplanatoryAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/ExplanatoryAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ArgumentsSupportingTranslator.kt
Due: core

deprecated everything with IndentAssertionGroup
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/IndentAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/IndentAssertionGroupType.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextIndentAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextIndentAssertionGroupFormatterSpec.kt
Due: core

add explanatory assertion to AssertionBuilder
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicExplanatoryAssertion.kt
Due: core

rename DescriptiveAssertion::expected to representation
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeBasicAssertion.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeBasicAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/AnyAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/ReportingAssertionPlantSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicDescriptiveAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptiveAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/ExplanatoryAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/StringBasedRawString.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslatableBasedRawString.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextFallbackAssertionFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextSameLineAssertionPairFormatter.kt
Due: core

re-add deprecated InvisibleAssertionGroup
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/InvisibleAssertionGroup.kt
Due: core

re-add deprecated AtriumFactory
  codecov.yml
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-robstoll/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
Due: none

add meterian badges to README
  README.md
Due: none

`will be removed with 1.0.0` instead of `in`
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
Due: core

define workaround for Sequence/Array more precisely
  README.md
Due: none

mention assertion fun sharing in README
  README.md
Due: none

introduce descriptive with failure hint assertion
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/FixHoldsAssertionGroup.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/assertionbuilder/descriptiveWithFailureHint.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/assertionbuilder/fixHoldsGroup.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
Due: none

move FixHoldsAssertionGroup to atrium-assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/FixHoldsAssertionGroup.kt
Due: none

add fixHoldsGroup to AssertionBuilder
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionBuilderExtensions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/FixHoldsAssertionGroup.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicDescriptiveAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicExplanatoryAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/EmptyNameAndSubjectAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/ExplanatoryAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/InvisibleAssertionGroup.kt
Due: core

move any assertions to domain
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  atrium-assertions/build.gradle
  atrium-spec/build.gradle
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/CoreFactory.kt
  core/atrium-core-robstoll-lib/build.gradle
  core/atrium-core-robstoll/build.gradle
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/AnyAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/throwUnsupportedOperationException.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/IAnyAssertions.kt
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/anyAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/AnyAssertions.kt
  misc/atrium-verbs/build.gradle
Due: api, domain, core, misc

move assertions from atrium-assertions to domain
  atrium-assertions/build.gradle
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/FixHoldsAssertionGroup.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/assertionbuilder/descriptiveWithFailureHint.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/assertionbuilder/fixHoldsGroup.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroup.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeBasicAssertion.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeBasicAssertionSpec.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
Due: domain

introduce domain modules
  build.gradle
  core/atrium-core-api-late-binding/build.gradle
  core/atrium-core-api/build.gradle
  core/atrium-core-robstoll/build.gradle
  domain/atrium-domain-api-late-binding/build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll/build.gradle
  settings.gradle
Due: domain, core

move BigDecimal assertions to domain
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/BigDecimalAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/IBigDecimalAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/bigDecimalAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/AnyAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/BigDecimalAssertions.kt
Due: api, domain

move ReporterBuilder and AssertionCollector to domain
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/TypeTransformer.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/constants.kt
Due: domain

move collection assertions to domain
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/collectionAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/collectionAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/collectionAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/CollectionAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/ICollectionAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/collectionAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/CollectionAssertions.kt
Due: api, domain

move comparable assertions to domain
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/comparableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/comparableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/comparableAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/ComparableAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/IBigDecimalAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/ICharSequenceAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/ICollectionAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/IComparableAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/comparableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/CharSequenceAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/CollectionAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/ComparableAssertions.kt
Due: api, domain

move feature assertions to domain
  README.md
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/featureAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/featureAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/featureAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/featureAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FeatureAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/FeatureAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/IFeatureAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/featureAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/FeatureAssertions.kt
Due: api, domain

move type transformation assertions to domain
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/typeTransformationAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/typeTransformationAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/typeTransformationAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/TypeTransformationAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/ITypeTransformationAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/AnyTypeTransformation.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/DownCaster.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/TypeTransformer.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/typeTransformationAssertions.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/creating/any/typetransformation/TypeTransformerSpec.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/ComparableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/FeatureAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/TypeTransformationAssertions.kt
Due: api, domain

move floating point assertions to domain
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/floatingPointAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/floatingPointAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/FloatingPointAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/IFloatingPointAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/floatingPointAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/FloatingPointAssertions.kt
Due: api, domain

move throwable thrown assertions to domain
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/throwableAssertions.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/ThrowableThrown.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/builders/ThrowableThrownBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/IThrowableThrownAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/providers/TranslatableAsAbsentThrowableMessageProvider.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwableAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/creators/ThrowableThrownAssertions.kt
Due: api, domain

fix projectsWithoutSources, use projectdir.path
  build.gradle
Due: none

ignore code cov. for atrium-assertions and all api-late-binding
  codecov.yml
Due: none

use CharSequenceContainsAssertions in API
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsSearchers.kt
  atrium-assertions/build.gradle
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/reporting/constants.kt
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/TypeTransformer.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/constants.kt
  misc/atrium-verbs/build.gradle
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assert/Assert.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assertthat/AssertThat.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/expect/Expect.kt
Due: api, domain, misc

remove atrium-assertions as dependency
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  atrium-assertions/build.gradle
  misc/atrium-verbs/build.gradle
  settings.gradle
Due: api, misc

fix translationProjects, use projectdir.path
  build.gradle
Due: none

re-add deprecated any assertions
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/anyAssertions.kt
Due: none
