Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

move deprecated core to own module
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  core/atrium-core-api-deprecated/build.gradle
  core/atrium-core-api-deprecated/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api-late-binding/build.gradle
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-robstoll-deprecated/build.gradle
  core/atrium-core-robstoll-deprecated/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-robstoll/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  core/atrium-core-robstoll/src/main/resources/META-INF/services/ch.tutteli.atrium.core.CoreFactory
  core/atrium-core-robstoll/src/module/module-info.java
  misc/kdoc/packages.md
  settings.gradle
Due: core, misc

use AssertImpl instead of AssertionBuilder in spec
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CheckingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/SubjectLessAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextExplanatoryAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextWarningAssertionGroupFormatterSpec.kt
Due: misc

use AssertImpl instead of AssertionBuilder in domain-robstoll
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/composers/descriptiveWithFailureHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/AssertionCollector.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/creators/TypeTransformationAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerBase.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerWithHint.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ThrowableThrownFailureHandler.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/anyAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/checkers/ContainsChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/bigDecimalAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charSequenceAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/checkers/NotChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectionAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/comparableAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/floatingPointAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/checkers/NotChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeBasicAssertionSpec.kt
Due: domain

use AssertImpl instead of AssertionBuilder in assertions
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/checkers/ContainsChecker.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsNotChecker.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/checkers/IterableContainsNotChecker.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
Due: none

turn AssertionBuilder and co. into interfaces
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveAssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/EmptyNameAndSubjectAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryAssertionGroupBuilders.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/invisibleGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/root.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlant.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/DelegatingAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/FeatureAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/ReportingAssertionPlantImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/AssertImpl.kt
Due: domain, core

update deprecations, use AssertImpl instead of AssertionGroup
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/EmptyNameAndSubjectAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/invisibleGroup.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/assertions/FixHoldsAssertionGroup.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
Due: domain, core, misc

use default fun in interfaces if they merely delegate
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveAssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/EmptyNameAndSubjectAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryAssertionGroupBuilders.kt
Due: core

use type parameter for BasicAssertionGroupBuilder
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/root.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
Due: core, misc

introduce common AssertionGroupBuilder interface
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/EmptyNameAndSubjectAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/invisibleGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/root.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/FeatureAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextFallbackAssertionFormatterSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextNextLineAssertionPairFormatterSpec.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/AssertImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/assertions/LazyThreadUnsafeAssertionGroupSpec.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
Due: domain, core, misc

Explanatory...Builder shall extend AssertionGroupBuilder
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryAssertionGroupBuilders.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
Due: core, misc

add `will be removed with 1.0.0` to deprecated ReporterBuilder
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
Due: none

turn ReporterBuilder into an interface
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/atriumVerbs.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AssertionFormatterControllerOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AssertionFormatterFacadeOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AssertionPairFormatterOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/LocaleOrderDeciderOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ObjectFormatterOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterBuilder.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterOption.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/TextAssertionFormatterOptionImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/TranslatorOptionImpl.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/AtriumReporterSupplier.kt
Due: api, domain, core, misc

annotate Assert with DslMarker
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/Assert.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlant.kt
Due: core

spec for SingleServiceLoader
  build.gradle
  core/atrium-core-api/build.gradle
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/core/SingleServiceLoader.kt
  core/atrium-core-api/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/atrium-core-api/src/test/kotlin/ch/tutteli/atrium/core/SingleServiceLoaderSpec.kt
  core/atrium-core-api/src/test/resources/META-INF/services/ch.tutteli.atrium.core.InterfaceWithOneImplementation
  core/atrium-core-api/src/test/resources/META-INF/services/ch.tutteli.atrium.core.InterfaceWithTwoImplementation
Due: core

update kotlin to 1.2.31
  build.gradle
Due: none

shortcut fun messageContains
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/ThrowableAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/ThrowableAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/ThrowableAssertionsSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/AssertionCollector.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/creators/TypeTransformationAssertionCreator.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ThrowableAssertionsSpec.kt
Due: api, domain, misc

use messageContains where appropriate
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableAssertions.kt
  core/atrium-core-api/src/test/kotlin/ch/tutteli/atrium/core/SingleServiceLoaderSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/TypeTransformationAssertionCreatorSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CheckingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/ReportingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/AnyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/BigDecimalAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsAtLeastAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsAtMostAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsContainsNotAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsExactlyAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsNotAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsNotOrAtMostAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/FeatureAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsContainsNotAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeastObjectsAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtMostObjectsAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderExactlyObjectsAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyEntriesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNotAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsNullSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ThrowableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/TypeTransformationAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorErrorCaseSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorIntSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
Due: api, domain, core, misc

include actual size in hasSize
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectionAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  misc/atrium-bc-test/build.gradle
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/ForgivingTest.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CollectionAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAssertionsSpec.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCollectionAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionMapAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCollectionAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionMapAssertion.kt
Due: domain, misc

generalise collecting assertion and add to AssertImpl
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/collectors/AssertionCollector.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/collectors/assertionCollectorsForExplanation.kt
  domain/atrium-domain-api/src/module/module-info.java
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/AssertImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/collectors/AssertionCollectorBuilder.kt
  domain/atrium-domain-builders/src/module/module-info.java
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/AssertionCollector.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerBase.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectionAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectors/AssertionCollectorForExplanation.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectors/collect.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/containsEntriesFun.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  domain/atrium-domain-robstoll-lib/src/module/module-info.java
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/collectors/AssertionCollectorImpl.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/collectors/assertionCollectorsForExplanation.kt
  domain/atrium-domain-robstoll/src/main/resources/META-INF/services/ch.tutteli.atrium.domain.creating.collectors.AssertionCollector
  domain/atrium-domain-robstoll/src/main/resources/META-INF/services/ch.tutteli.atrium.domain.creating.collectors.NonThrowingAssertionCollectorForExplanation
  domain/atrium-domain-robstoll/src/main/resources/META-INF/services/ch.tutteli.atrium.domain.creating.collectors.ThrowingAssertionCollectorForExplanation
  domain/atrium-domain-robstoll/src/module/module-info.java
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/ExplanatoryTypeTransformationFailureHandler.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
Due: domain

move internal AssertionBuilder classes to package impl
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveAssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/EmptyNameAndSubjectAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionGroupBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/ExplanatoryAssertionGroupOption.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryAssertionGroupBuilders.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/BasicAssertionGroupBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/DescriptiveAssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/EmptyNameAndSubjectAssertionGroupBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionGroupBuilderImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionGroupOptionImpl.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/invisibleGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/root.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/Assert.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlantWithCommonFields.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/BaseAssertionPlant.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/BaseReportingAssertionPlant.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/PlantHasNoSubjectException.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatterFacade.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatterParameterObject.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/LocaleOrderDecider.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/StringBasedTranslatable.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Translatable.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslatableBasedRawString.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Translator.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Untranslatable.kt
Due: core

add KProperty free property feature assertions fun
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/IFeatureAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/featureAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/FeatureAssertionsImpl.kt
Due: domain

star Atrium if you like it
  .github/CONTRIBUTING.md
  README.md
Due: none

evaluate feature AssertionGroup subject lazily
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/checking/AssertionChecker.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlantWithCommonFields.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/LazyRepresentation.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/DelegatingAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/FeatureAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatter.kt
  core/atrium-core-robstoll/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectionAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/featureAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/DelegatingAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/FeatureAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/ThrowingAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/ReportingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CollectionAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/ToStringObjectFormatter.kt
Due: domain, core, misc

simplify remove helper functions from IFeatureAssertions
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/IFeatureAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/featureAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/FeatureAssertionsImpl.kt
Due: domain

add feature functions with class reflection
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/atriumVerbs.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderClassSpec.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectionAssertions.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/FeatureAssertionsSpec.kt
Due: domain, misc

add explicit return type to helper functions
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
Due: domain

deprecate isNull use toBe(null) instead
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/booleanAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/AnyAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FeatureAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/booleanAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/AnyAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/FeatureAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/AnyAssertionsSpec.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderClassSpec.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/BooleanAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
Due: api, domain, misc

update to kbox 0.4.0
  build.gradle
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextMethodCallFormatter.kt
Due: core

deprecate Iterable::object and objects
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
Due: api

rename IterableContainsAssertions::objects... to values...
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/creators/IterableContainsAssertionsImpl.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/creators.kt
Due: api, domain

rename Iterable specs, ...Objects... to ...Values...
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeastValuesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtMostValuesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderExactlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderNotOrAtMostValuesAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyValuesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyValuesSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderAtLeastValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderAtMostValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderExactlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderNotOrAtMostValuesAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderOnlyValuesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyValuesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtLeastValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtMostValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderExactlyValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderNotOrAtMostValuesAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyValuesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyValuesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtLeastValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderAtMostValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderExactlyValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderNotOrAtMostValuesAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInAnyOrderOnlyValuesSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyValuesSpec.kt
Due: api, misc

rename impl classes ...Object... to ...Values...
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/searchbehaviours/InAnyOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/searchbehaviours/InOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/searchbehaviours/SearchBehaviourFactory.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyValuesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/searchbehaviours/InAnyOrderOnlySearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/searchbehaviours/InAnyOrderSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/searchbehaviours/InOrderOnlySearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/searchbehaviours/InOrderSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/searchbehaviours/NoOpSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/searchbehaviours/NotSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/searchbehaviours/searchBehaviours.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/creators/IterableContainsAssertionsImpl.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/searchbehaviours/SearchBehaviourFactoryImpl.kt
Due: domain

use type parameter SC for search criterion instead of S
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/creators.kt
Due: domain

expect List instead of vararg for remaining CharSequence contains
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/charSequenceAssertionsBuilders.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/varargToList.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/creators/creators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/charsequence/contains/creators/CharSequenceContainsAssertionsImpl.kt
Due: api, domain

expect List instead of vararg for Iterable contains
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/iterable/contains/creators/IterableContainsAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/creators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/creators/IterableContainsAssertionsImpl.kt
Due: api, domain

expect List instead of vararg for Charsequence contains values
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/basic/contains/Contains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/charsequence/contains/creators/CharSequenceContainsAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/charSequenceAssertionsBuilders.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/varargToList.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/creators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/charsequence/contains/creators/CharSequenceContainsAssertionsImpl.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/creators.kt
Due: api, domain

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
