Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

ignore content of atrium-core-api-late-binding
  codecov.yml
Due: none

v. 0.4.0
  README.md
  build.gradle
Due: none

prepare 0.5.0-SNAPSHOT
  README.md
  build.gradle
Due: none

introduce RawString.EMPTY
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/EmptyNameAndSubjectAssertionGroup.kt
  atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/RawString.kt
Due: none

introduce Untranslatable.EMPTY
  atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/EmptyNameAndSubjectAssertionGroup.kt
  atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Untranslatable.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/IndentBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
Due: none

simplify format KClass, use when instead of if/else
  atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/DetailedObjectFormatter.kt
Due: none

rename IndentBased...Spec to TestIndent...Spec
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextExplanatoryBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
Due: none

fix spelling `which the result` instead `with`
  atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/IAssertionFormatter.kt
  atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/IAssertionPairFormatter.kt
  atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/SingleAssertionGroupTypeFormatter.kt
Due: none

change slack to channel in kotlinlang
  .github/CONTRIBUTING.md
  README.md
Due: none

fix special chars
  README.md
Due: none

move bundle modules into sub folder `bundles/`
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  settings.gradle
Due: none

move translations into sub folder `translations/`
  settings.gradle
  translations/atrium-translations-de_CH/build.gradle
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionAnyAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBasic.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCharSequenceAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionNarrowingAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionNumberAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionThrowableAssertion.kt
  translations/atrium-translations-en_UK/build.gradle
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionAnyAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBasic.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCharSequenceAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionNarrowingAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionNumberAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionThrowableAssertion.kt
Due: none

move atrium-verbs to folder `misc`
  misc/atrium-verbs/build.gradle
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/AssertionVerb.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/AtriumReporterSupplier.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assert/Assert.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assertthat/AssertThat.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/expect/Expect.kt
  misc/atrium-verbs/src/test/kotlin/ch/tutteli/atrium/verbs/VerbSpec.kt
  settings.gradle
Due: misc

introduce code completion infix API
  apis/atrium-api-cc-infix-en_UK/build.gradle
  settings.gradle
Due: api

update links to new sub folders
  README.md
  build.gradle
Due: none

add any assertions
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/AnyAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/AnyAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/AnyAssertionsSpec.kt
Due: api

add number assertions
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/numberAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/NumberAssertionsSpec.kt
Due: api

`toBe null` instead of `.isNull()`
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/AnyAssertionsSpec.kt
Due: api

get rid of `and` without group
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/AnyAssertionsSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/AnyAssertionsSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/AnyAssertionsSpec.kt
Due: api

add narrowing assertions
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/narrowingAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/NarrowingAssertionsSpec.kt
Due: api

get rid of `and` without group
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
Due: api

`and` with groups should be infix
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
Due: api

add bundle for cc-infix
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  settings.gradle
Due: none

fix contains...regex, should expect String
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsSearchers.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsRegexAssertionSpec.kt
Due: api

document differences between APIs
  README.md
  apis/differences.md
  build.gradle
Due: api

add CharSequence assertions
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsCheckers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/helperKeywords.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsAtLeastAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsAtMostAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsExactlyAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsNotOrAtMostAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsSpecBase.kt
  apis/differences.md
Due: api

add Collection assertions
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/collectionAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CollectionAssertionsSpec.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/collectionAssertions.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CollectionAssertionsSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CollectionAssertionsSpec.kt
  apis/differences.md
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/collectionAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CollectionAssertionsSpec.kt
Due: api

add Throwable assertions
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/NarrowingAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/ThrowableAssertionsSpec.kt
Due: api

add feature assertion functions
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/featureAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/FeatureAssertionsSpec.kt
Due: api

mention CONTRIBUTING.md in README
  README.md
Due: none

fix KDoc of Iterable.contains - remove only
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
Due: api

add missing singular fun for Iterable contains
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyObjectsSpec.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
Due: api

fix `Delegates to [...]` link is ambiguous
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsSearchers.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
Due: api

add iterable assertions
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/helperKeywords.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsCheckers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtLeastObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtMostObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderExactlyObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsSpecBase.kt
Due: api

document diff in API for Iterable contains
  apis/differences.md
Due: api

replace vararg with Array in MethodObjects
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsAtLeastAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsAtMostAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsExactlyAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsNotOrAtMostAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/FeatureAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtLeastObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtMostObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
Due: api

replace vararg with Array for Values and Objects
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/FeatureAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderExactlyObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
Due: api
