Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

document next line reporting in README
  README.md
Due: none

move `object`s closer to `include` in specs
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
Due: api

introduce CharSequenceContainsNotChecker
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsSpecBase.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsSpecBase.kt
  apis/differences.md
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/checkers/CharSequenceContainsNotChecker.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsNotAssertionSpec.kt
Due: api

open up Iterable `contains` search behaviours
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsDecorators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderOnlySearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderOnlySearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNoOpSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterableAssertions.kt
Due: api

add `out` parameter to `contains` builders
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsCheckerBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNoOpCheckerBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilderBase.kt
Due: none

transform containsNot into a shortcut function
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsCheckerBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsCheckerBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsIgnoringCaseSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNoOpSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviour.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsNotAssertionSpec.kt
Due: api

introduce IterableContainsNotChecker
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/iterable/contains/builders/nameContainsNotFun.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsSpecBase.kt
  apis/differences.md
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilderBase.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/checkers/IterableContainsNotChecker.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNotSearchBehaviour.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterableAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNotAssertionSpec.kt
Due: api

transform containsNot into a shortcut function
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterableAssertions.kt
Due: api

add impl-functions for search behaviour
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsDecorators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsDecorators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/searchBehaviours.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/searchBehaviours.kt
Due: api

move impl-fun for creators to creators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/creators/creators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/creators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterableAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtLeastObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderExactlyObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNotAssertionSpec.kt
Due: api

introduce in any order nullable entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  apis/differences.md
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/creators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/creating/AssertionCollector.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/CheckingAssertionPlant.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/CheckingAssertionPlantImpl.kt
Due: api, core

update KDoc of AssertionPlant, is out-dated
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/BaseAssertionPlant.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/BaseReportingAssertionPlant.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/ReportingAssertionPlant.kt
  core/atrium-core-impl-robstoll/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
Due: core

fix text in spec about entries
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsSpecBase.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsSpecBase.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtLeastObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderExactlyObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNotAssertionSpec.kt
Due: api

improve KDoc of assertionCreator parameter
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
Due: api

introduce in order only nullable entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/creators.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
Due: api

introduce in any order only nullable entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyObjectsAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/creators.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
Due: api

move helper-fun for contains entries to own file
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
Due: none

extend IterableContainsNullSpec with empty id-lambda
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
Due: none

shortcut fun for containsStrictly nullable entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
Due: api

shortcut function for contains nullable entries
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsNullSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
Due: api

extend spec we do not search for unique entries
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
Due: none

reduce code duplication for returnValueOf
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/featureAssertions.kt
Due: none

workaround for overload reflection bug KT-17340
  README.md
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/featureAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FeatureAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextMethodCallFormatterSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/MethodCallFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextMethodCallFormatter.kt
Due: core

extend contains null spec, warning if subject is null
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionNarrowingAssertion.kt
Due: none

use Assert instead of AssertionPlant as param type
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/narrowingAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/narrowingAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/narrowingAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/AssertionVerbFactory.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assert/Assert.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assertthat/AssertThat.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/expect/Expect.kt
Due: api, core, misc

table of content for differences
  apis/differences.md
Due: api

optimize imports
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInAnyOrderOnlyEntriesAssertionCreator.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/DetailedObjectFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/DetailedObjectFormatterSpec.kt
Due: core

use different bullet points for de_CH
  README.md
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNullSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
Due: api

use de_CH translation in spec of api-de_CH
  apis/atrium-api-cc-de_CH/build.gradle
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/NarrowingAssertionsSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionNarrowingAssertion.kt
Due: api

mention Throwable in KDoc of DetailedObjectFormatter
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/DetailedObjectFormatter.kt
Due: core

mention identity check in README
  README.md
Due: none

only output the name of a Throwable in Reporting
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/DetailedObjectFormatter.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/DetailedObjectFormatterSpec.kt
Due: core

make it obvious that there are two install steps
  README.md
Due: none

introduce toBeWithErrorTolerance for floating point numbers
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/floatingPointAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FloatingPointAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/floatingPointAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/FloatingPointAssertionsSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FloatingPointAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/SubjectLessAssertionSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertions.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertions.kt
Due: api

introduce isNumericallyEqualTo for BigDecimal
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/bigDecimalAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/floatingPointAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FloatingPointAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/floatingPointAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/FloatingPointWithErrorToleranceAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/BigDecimalAssertionsSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingPointAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BigDecimalAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FloatingPointWithErrorToleranceAssertionsSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
Due: api

overload toBe for BigDecimal with failure hint
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/bigDecimalAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/floatingPointAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/floatingPointAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/BigDecimalAssertionsSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BigDecimalAssertionsSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
Due: api

introduce isNotNumericallyEqualTo for BigDecimal
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/bigDecimalAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/BigDecimalAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/bigDecimalAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/BigDecimalAssertionsSpec.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/bigDecimalAssertions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BigDecimalAssertionsSpec.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
  translations/atrium-translations-en_UK/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertions.kt
Due: api

fix path for dokka in subprojects
  build.gradle
  core/atrium-core-api-late-binding/build.gradle
  core/atrium-core-impl-robstoll-lib/build.gradle
  core/atrium-core-impl-robstoll/build.gradle
  gradle/scripts/gh-pages.gradle
  gradle/scripts/jacoco-multi-project.gradle
Due: core

fix include with anonymous object in de_CH Spec
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FloatingPointAssertionsSpec.kt
Due: api
