Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

update to tutteli-gradle-plugins 0.16.1 (deals with multi platform)
  settings.gradle
Due: none

add gradle to AppVeyor's cache
  appveyor.yml
Due: none

add a contributor agreements and adopt pull request template
  .github/CONTRIBUTING.md
  .github/Contributor Agreements v1.0.txt
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update kotlin to 1.2.71
  build.gradle
  misc/verbs-internal/atrium-verbs-internal-common/build.gradle
  misc/verbs-internal/atrium-verbs-internal-js/build.gradle
  misc/verbs/atrium-verbs-common/build.gradle
  misc/verbs/atrium-verbs-js/build.gradle
Due: misc

suppress deprecations when building cc-en_GB, add TODOs to remove them
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/FeatureAssertionsBoundedReferenceWhenCollectingPlantSpec.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/BasicDescriptiveAssertion.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/ExplanatoryAssertionGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/IndentAssertionGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/IndentAssertionGroupType.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/InvisibleAssertionGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/BasicAssertionGroupFinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/DescriptiveAssertionFinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionFinalStepImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/ExplanatoryAssertionGroupBuilderImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/PlantHasNoSubjectException.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextIndentAssertionGroupFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextIndentAssertionGroupFormatterSpec.kt
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryCommonImpl.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/TranslatorOption.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwableAssertions.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextExplanatoryBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
Due: api, domain, core, misc

ignore deprecation warnings in cc-de_CH
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCheckers.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsCheckers.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsSearchersKt.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtLeastCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsAtMostCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsButAtMostCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsExactlyCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/charsequence/contains/builders/CharSequenceContainsNotOrAtMostCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsAtLeastCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsAtMostCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsButAtMostCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsExactlyCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsNotCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/assertions/iterable/contains/builders/IterableContainsNotOrAtMostCheckerBuilder.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceDeprecatedAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceDeprecatedContainsCheckers.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceDeprecatedContainsDecorators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsCheckers.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsDecorators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInAnyOrderCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInAnyOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/BooleanAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsDefaultTranslationOfAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsSpecBase.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FeatureAssertionsBoundedReferenceWhenCollectingPlantSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsNotValuesAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/ThrowableAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
Due: api

deprecate CharSequenceContainsDefaultTranslationAssertionsSpec
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/CharSequenceContainsDefaultTranslationOfAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/CharSequenceContainsDefaultTranslationOfAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsDefaultTranslationAssertionsSpec.kt
Due: api, misc

ignore deprecation warnings in cc-infix-en_GB
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/FeatureAssertionsBoundedReferenceWhenCollectingPlantSpec.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/Contains.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsBuilder.kt
Due: api

ignore deprecation warnings in deprecated translation modules
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionAnyAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBasic.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCharSequenceAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionComparableAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionThrowableAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionTypeTransformationAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionAnyAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBasic.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCharSequenceAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionComparableAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionThrowableAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionTypeTransformationAssertion.kt
Due: none

ignore deprecation warnings in domain-api-deprecated
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsCheckerBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsIgnoringCaseSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/IterableContains.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsCheckerBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNoOpCheckerBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNotSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/ThrowableThrown.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
Due: none

use Atrium's Locale in Translator...Spec
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Locale.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/TranslationSupplierBasedTranslatorSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierBasedTranslatorSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorErrorCaseSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorIntSpec.kt
Due: core, misc

cleanup remaining warnings
  bundles/atrium-cc-de_CH-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/atrium-cc-en_GB-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/atrium-cc-en_UK-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/atrium-cc-infix-en_GB-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/atrium-cc-infix-en_UK-robstoll/src/test/kotlin/SmokeSpec.kt
  core/atrium-core-api-deprecated/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-robstoll-deprecated/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/containsHelperFun.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyGroupedAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/AnyTypeTransformation.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  misc/verbs/atrium-verbs-jvm/src/test/kotlin/ch/tutteli/atrium/verbs/VerbSpec.kt
Due: domain, misc

update tutteli-gradle to v0.18.0 and simplify build.gradle
  build.gradle
  settings.gradle
Due: none

require kotlin.stdlib in every module-info.java
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/module/module-info.java
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/module/module-info.java
  bundles/atrium-cc-en_GB-robstoll/src/module/module-info.java
  bundles/atrium-cc-infix-en_GB-robstoll/src/module/module-info.java
  core/api/atrium-core-api-jvm/src/module/module-info.java
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/module/module-info.java
  core/robstoll/atrium-core-robstoll-jvm/src/module/module-info.java
  domain/api/atrium-domain-api-jvm/src/module/module-info.java
  domain/builders/atrium-domain-builders-jvm/src/module/module-info.java
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/module/module-info.java
  domain/robstoll/atrium-domain-robstoll-jvm/src/module/module-info.java
  misc/verbs-internal/atrium-verbs-internal-jvm/src/module/module-info.java
  misc/verbs/atrium-verbs-jvm/src/module/module-info.java
  translations/de_CH/atrium-translations-de_CH-jvm/src/module/module-info.java
  translations/en_GB/atrium-translations-en_GB-jvm/src/module/module-info.java
Due: api, domain, core, misc

Rename containsStrictly to containsExactly
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
Due: api

Rename infix containsStrictly assertions to containsExactly
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
Due: api

Fix missing parameter
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
Due: api

Add enthaeltExact and its variants, deprecate enthaeltStrikt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
Due: api

Add support functions for Map
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/mapAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/MapAsIterableAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/mapAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/MapAsIterableAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/mapAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/MapAsIterableAssertionsSpec.kt
  gr
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAsIterableAssertionsSpec.kt
Due: api, misc

Update misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAsIterableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAsIterableAssertionsSpec.kt
Due: misc

add asKeys, asValues and asEntries for Map
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/mapAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/MapAsIterableAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/mapAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/MapAsIterableAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/mapAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/MapAsIterableAssertionsSpec.kt
  gr
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAsIterableAssertionsSpec.kt
Due: api, misc

complement specs for asEntries, asKeys, asValues
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ArrayAsIterableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAsIterableAssertionsSpec.kt
Due: misc

use npm 6.4.1 (this way --prefer-offline works)
  core/api/atrium-core-api-js/build.gradle
Due: core

add package.json and commit package-lock.json
  core/api/atrium-core-api-js/package-lock.json
  core/api/atrium-core-api-js/package.json
Due: core

enable tests for core-api-js
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/DescriptiveAssertionHoldsOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtentions.kt
  core/api/atrium-core-api-js/build.gradle
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/formatNumber.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtensions.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/properties.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/throwableExtensions.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/FormatNumberTest.kt
  core/api/atrium-core-api-js/src/test/kotlin/testSetup.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatter.kt
Due: core

write tests for KClass.cast for the JS platform
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/KClassCastTest.kt
Due: core

registerServices in Javascript based on JVM services file
  build.gradle
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
  core/robstoll/atrium-core-robstoll-js/src/main/kotlin/ch/tutteli/atrium/robstoll/core/registerServices.kt
  domain/builders/atrium-domain-builders-js/src/main/kotlin/ch/tutteli/atrium/domain/builders/registerServices.kt
  domain/robstoll/atrium-domain-robstoll-js/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/registerServices.kt
Due: domain, core

throw a NoSuchElementException if more than one service is found
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/SingleServiceLoader.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
  core/api/atrium-core-api-jvm/src/test/kotlin/ch/tutteli/atrium/core/SingleServiceLoaderSpec.kt
Due: core

improve fullName for JS in conjunction with anonymous objects
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtentions.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtensions.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtensions.kt
Due: core

write tests for KClass.cast for the JS platform
  core/api/atrium-core-api-js/build.gradle
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtensions.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/FormatNumberTest.kt
Due: core

implement loadService for JS platform
  .gitignore
  build.gradle
  core/api/atrium-core-api-common/build.gradle
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadService.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/LoadServicesTest.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/LoadSingleServiceTest.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/UseSingleServiceTest.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/testServices.kt
  core/api/atrium-core-api-js/build.gradle
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
  core/api/atrium-core-api-jvm/build.gradle
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/SingleServiceLoader.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/loadServices.kt
  core/api/atrium-core-api-jvm/src/test/kotlin/ch/tutteli/atrium/core/SingleServiceLoaderSpec.kt
  core/api/atrium-core-api-jvm/src/test/resources/META-INF/services/ch.tutteli.atrium.core.InterfaceWithOneImplementation
  core/api/atrium-core-api-jvm/src/test/resources/META-INF/services/ch.tutteli.atrium.core.InterfaceWithTwoImplementation
Due: core

update to tutteli-gradle v0.19.1 simplify core-api
  build.gradle
  core/api/atrium-core-api-common/build.gradle
  core/api/atrium-core-api-js/build.gradle
  core/api/atrium-core-api-jvm/build.gradle
  settings.gradle
Due: core

improve KClass.fullName for JS, display js.name in addition
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtensions.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/KClassCastTest.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/KClassFullNameTest.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/testUtils.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtensions.kt
Due: core

write specs for function types for KClass.fullName and .cast
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtensions.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/KClassCastTest.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/KClassFullNameTest.kt
Due: core

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
