Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

introduce JvmName for common modules.
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/JvmName.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/JvmName.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/JvmName.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/nullable.kt
  domain/builders/atrium-domain-builders-js/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-js/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/nullable.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/nullable.kt
Due: domain, core

adjust codecov ignore patterns
  codecov.yml
Due: none

rename files using JvmMultifileClass in JVM
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyDeprecatedAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/booleanDeprecatedAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceDeprecatedAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceDeprecatedContainsCheckers.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceDeprecatedContainsCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceDeprecatedContainsDecorators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsCheckers.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsDecorators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInAnyOrderCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInAnyOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableDeprecatedAssertions.kt
Due: api

use JvmMultifileClass for floatingPointAssertions
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/floatingPointAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/floatingPointAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/floatingPointJvmAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/floatingPointAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/floatingPointAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/floatingPointJvmAssertions.kt
Due: api

remove DetailedObjectFormatter.Companion, duplicates ...FormatterCommon
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatterSpec.kt
Due: core

mention that `asIterable` is not shown in reporting.
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/arrayAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/sequenceAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/arrayAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/sequenceAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/arrayAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/sequenceAssertions.kt
Due: api

include SequenceSpec in IterableAnyAssertionsSpec
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableAnyAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableAnyAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableAnyAssertionsSpec.kt
Due: api

update kotlin to 1.2.51
  build.gradle
Due: none

add bug report and feature request issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

change issue URLs to new template based URLs
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterFactory.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
Due: core

move domain-robstoll jvm code to common
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/assertions/composers/AssertionComposerImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/AnyAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/CharSequenceAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/CollectionAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/ComparableAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/FeatureAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/IterableAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/MapAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/ThrowableAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/any/typetransformation/creators/AnyTypeTransformationAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/any/typetransformation/failurehandlers/FailureHandlerFactoryImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/charsequence/contains/checkers/CheckerFactoryImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/charsequence/contains/creators/CharSequenceContainsAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/charsequence/contains/searchbehaviours/SearchBehaviourFactoryImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/collectors/AssertionCollectorImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/collectors/assertionCollectorsForExplanation.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/checkers/CheckerFactoryImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/creators/IterableContainsAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/iterable/contains/searchbehaviours/SearchBehaviourFactoryImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/throwable/thrown/creators/ThrowableThrownAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/throwable/thrown/providers/AbsentThrowableMessageProviderFactoryImpl.kt
  domain/robstoll/atrium-domain-robstoll-js/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/FloatingPointAssertionsImpl.kt
Due: domain

turn atrium-verbs into a multi-platform module
  README.md
  build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_GB-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_GB-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  misc/maven/example-pom.xml
  misc/verbs/atrium-verbs-common/build.gradle
  misc/verbs/atrium-verbs-js/build.gradle
  misc/verbs/atrium-verbs-jvm/build.gradle
  misc/verbs/atrium-verbs-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/AssertionVerb.kt
  misc/verbs/atrium-verbs-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/assert.kt
  misc/verbs/atrium-verbs-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/assert/Assert.kt
  misc/verbs/atrium-verbs-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/assertThat.kt
  misc/verbs/atrium-verbs-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/assertthat/AssertThat.kt
  misc/verbs/atrium-verbs-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/expect.kt
  misc/verbs/atrium-verbs-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/expect/Expect.kt
  misc/verbs/atrium-verbs-jvm/src/module/module-info.java
  misc/verbs/atrium-verbs-jvm/src/test/kotlin/ch/tutteli/atrium/verbs/VerbSpec.kt
  settings.gradle
Due: misc

move atrium-verbs jvm code to common
  misc/verbs/atrium-verbs-common/src/main/kotlin/ch/tutteli/atrium/verbs/AssertionVerb.kt
  misc/verbs/atrium-verbs-common/src/main/kotlin/ch/tutteli/atrium/verbs/assert.kt
  misc/verbs/atrium-verbs-common/src/main/kotlin/ch/tutteli/atrium/verbs/assertThat.kt
  misc/verbs/atrium-verbs-common/src/main/kotlin/ch/tutteli/atrium/verbs/expect.kt
Due: misc

introduce default methods of CoreFactory as extension fun in common
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
Due: domain, core

turn atrium-verbs-internal into a multi-platform module
  README.md
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/build.gradle
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/build.gradle
  core/api/atrium-core-api-jvm/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/build.gradle
  domain/builders/atrium-domain-builders-jvm/build.gradle
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/build.gradle
  misc/atrium-bc-test/build.gradle
  misc/verbs-internal/atrium-verbs-internal-common/build.gradle
  misc/verbs-internal/atrium-verbs-internal-js/build.gradle
  misc/verbs-internal/atrium-verbs-internal-jvm/build.gradle
  misc/verbs-internal/atrium-verbs-internal-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/internal/atriumVerbs.kt
  misc/verbs-internal/atrium-verbs-internal-jvm/src/module/module-info.java
  misc/verbs-internal/atrium-verbs-internal-jvm/src/test/kotlin/ch/tutteli/atrium/verbs/internal/VerbSpec.kt
  settings.gradle
Due: api, domain, core, misc

move atrium-verbs-internal jvm code to common
  misc/verbs-internal/atrium-verbs-internal-common/src/main/kotlin/ch/tutteli/atrium/verbs/internal/atriumVerbs.kt
  misc/verbs-internal/atrium-verbs-internal-jvm/src/main/kotlin/ch/tutteli/atrium/verbs/internal/AssertionVerbFactory.kt
Due: misc

add creator factory for CharSequence contains
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CreatorFactory.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/ICreatorFactory.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/IterableContains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/ThrowableThrown.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/TypeTransformationAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/SearcherBasedCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/creators.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CreatorFactory.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/creators/CharSequenceContainsAssertionCreator.kt
Due: domain

draft feature with lambda
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/featureAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/FeatureAssertionsSpec.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
Due: api, domain

draft sophisticated withErrorTolerance builders
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/assertions/floatingpoint/iswitherrortolerance/builders/errorToleranceBuilders.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/floatingPointWithErrorToleranceCreators.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingpoint/iswitherrortolerance/FloatingPointIsWithErrorTolerance.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/floatingpoint/iswitherrortolerance/builders/errorToleranceBuilders.kt
Due: api

delegate toBe for float/double to toBeWithErrorTolerance
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/floatingPointAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/FloatingPointAssertionsSpec.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/floatingPointAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/FloatingPointAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FloatingPointAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsEntriesSpecBase.kt
Due: api

Set theme jekyll-theme-midnight
  _config.yml
Due: none

Set theme jekyll-theme-leap-day
  _config.yml
Due: none

Set theme jekyll-theme-slate
  _config.yml
Due: none

Set theme jekyll-theme-dinky
  _config.yml
Due: none
