Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

mention that examples use cc API
  README.md
Due: none

exclude cc-en_UK as compile dep in other APIs
  apis/atrium-api-cc-infix-en_UK/build.gradle
  apis/atrium-api-code-completion-de_CH/build.gradle
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-code-completion-en_UK/build.gradle
  atrium-assertions/build.gradle
  atrium-spec/build.gradle
  core/atrium-core-api/build.gradle
  core/atrium-core-impl-robstoll-lib/build.gradle
  core/atrium-core-impl-robstoll/build.gradle
Due: api, core

mention `and` in Examples
  README.md
Due: none

point out `this` is required for infix in lambdas
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/FeatureAssertionsSpec.kt
  apis/differences.md
Due: api

refactor containsDefaultTranslation to builder
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceContainsSearchers.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceAssertionsSpec.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsSearchers.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceContainsSearchers.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
Due: api

add badge for slack
  README.md
Due: none

remove `vararg` from impl-functions
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-code-completion-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-code-completion-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterableAssertions.kt
Due: api

spec for defaultTranslationOf
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsDefaultTranslationOfAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsSpecBase.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsDefaultTranslationOfAssertionsSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/CharSequenceContainsSpecBase.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsDefaultTranslationOfAssertionsSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/CharSequenceContainsSpecBase.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsDefaultTranslationAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsRegexAssertionSpec.kt
Due: api

rename ContainsBuilder::decorator to searchBehaviour
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charSequenceAssertions.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterableAssertions.kt
Due: none

remove branch dev
  .github/CONTRIBUTING.md
  README.md
  build.gradle
Due: none

introduce dev branch
  .github/CONTRIBUTING.md
  README.md
  build.gradle
Due: none

add vararg to infix method objects
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/methodObjects.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsAtLeastAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsAtMostAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsDefaultTranslationOfAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsExactlyAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsNotOrAtMostAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsRegexAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtLeastObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderAtMostObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderExactlyObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsNullSpec.kt
Due: api

fix spelling, peek instead of peak
  README.md
Due: none

prefix assertion specs with `[Atrium]`
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/AnyAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BooleanAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtLeastAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsContainsNotAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsDefaultTranslationAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsExactlyAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsNotOrAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsRegexAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CollectionAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FeatureAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsContainsNotAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtLeastObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderExactlyObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/NarrowingAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/NumberAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/ThrowableAssertionsSpec.kt
Due: none

add badge for latest release version to README (#6)
  README.md
Due: none

introduce describeFun with describe prefix
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/SpecBodyExtensions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/AnyAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtLeastAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsContainsNotAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsDefaultTranslationAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsExactlyAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsNotOrAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsRegexAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CollectionAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FeatureAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsContainsNotAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtLeastObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderExactlyObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/NarrowingAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/ThrowableAssertionsSpec.kt
Due: none

wrap fun names in spek describe with backticks
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/CharSequenceContainsContainsNotAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/build.gradle
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/SpecBodyExtensions.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/AnyAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtLeastAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsContainsNotAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsDefaultTranslationAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsExactlyAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsNotOrAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsRegexAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CollectionAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FeatureAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsContainsNotAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtLeastObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderExactlyObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/NarrowingAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/NumberAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/ThrowableAssertionsSpec.kt
Due: api

update kbox to 0.1.0
  build.gradle
Due: none

add prefix to SubjectLess- and CheckingAssertionSpec
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-code-completion-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyObjectsSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInAnyOrderEntriesSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyEntriesSpec.kt
  apis/atrium-api-code-completion-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/AnyAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/BooleanAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtLeastAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsContainsNotAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsDefaultTranslationAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsExactlyAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsNotOrAtMostAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CharSequenceContainsRegexAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CheckingAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/CollectionAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/FeatureAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsContainsNotAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtLeastObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderExactlyObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderNotOrAtMostObjectsAssertionSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInAnyOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyEntriesSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsInOrderOnlyObjectsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/IterableContainsNullSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/NarrowingAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/NumberAssertionsSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/assertions/SubjectLessAssertionSpec.kt
Due: api

exclude kotlin from dependency kbox
  atrium-spec/build.gradle
  core/atrium-core-impl-robstoll-lib/build.gradle
Due: core

add withDefaultTranslatorAndSupplier to ReporterBuilder
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  atrium-assertions/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesBasedTranslationSupplier.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/AtriumReporterSupplier.kt
Due: api, core, misc

rename `decorator` to `searchBehaviour`
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsBuilder.kt
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsBuilder.kt
Due: none

add newPropertiesBasedTranslationSupplier to IAtriumFactory
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-impl-robstoll/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
Due: none

fix Resource...Translator, fallback if primary file present
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslator.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/assertions/DescriptionAnyAssertion_fr.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/reporting/translating/Atrium_fr.properties
Due: core

write spec for Translator special case Nynorsk
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/LocaleOrderDecider.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesTranslationSupplierNorwegianSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_de_CH.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn_NO.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn_NO_NY.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn_ZZ.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn_ZZ_WHATEVER.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_no.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_no_NO.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_no_NO_NY.properties
Due: core

remove support for Locale no_...
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ArgumentsSupportingTranslator.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/UsingDefaultTranslator.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/LocaleOrderDecider.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslator.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Translator.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesTranslationSupplierNorwegianSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/assertions/DescriptionAnyAssertion_fr.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/assertions/DescriptionNumberAssertion_it.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/reporting/translating/Atrium_fr.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/reporting/translating/Atrium_it.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_de_CH.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn_NO.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn_NO_NY.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn_ZZ.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_nn_ZZ_WHATEVER.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_no.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_no_NO.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierNorwegianSpec$TestTranslatable_no_NO_NY.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierSpec$TestTranslatable_it.properties
Due: core

fix describeFun, `fun` after `describe`
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/SpecBodyExtensions.kt
Due: none

spec error cases also for Resource...Translator
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorErrorCaseSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorSpec.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslator.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/TranslatorSpec.kt
Due: core

get rid of old Chinese Locale conventions
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorErrorCaseSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ArgumentsSupportingTranslator.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/LocaleOrderDecider.kt
Due: core

revise ReporterBuilder, add fun for custom impl
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
Due: none

add factory method for ILocaleOrderDecider
  atrium-assertions/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorSpec.kt
  core/atrium-core-api-late-binding/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Translator.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/TranslatorSpec.kt
  core/atrium-core-impl-robstoll/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
Due: core

discourage the usage of Locale.ROOT
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ArgumentsSupportingTranslator.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ILocaleOrderDecider.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ITranslator.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/LocaleOrderDecider.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/LocaleOrderDeciderSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/assertions/DescriptionAnyAssertion.properties
  core/atrium-core-impl-robstoll-lib/src/test/resources/ch/tutteli/atrium/reporting/translating/Atrium.properties
Due: core

move LocaleOrderDeciderSpec to atrium-spec
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/LocaleOrderDeciderSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/LocaleOrderDeciderSpec.kt
Due: core

move LocaleOrderDeciderSpec to atrium-spec
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/booleanAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/collectionAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/featureAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/narrowingAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/numberAssertions.kt
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/booleanAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/collectionAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/featureAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/narrowingAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/numberAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/throwableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/charSequenceAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/collectionAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/featureAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/narrowingAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/numberAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/throwableAssertions.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/Assert.kt
Due: api, core

use `Assert` in README
  README.md
Due: none

remove createAdditional from LocaleOrderDecider
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/LocaleOrderDecider.kt
Due: core

throw Illegal in case of Locale.ROOT in ITranslationSupplier
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierIntSpec.kt
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierSpec.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ITranslationSupplier.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesBasedTranslationSupplier.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplier.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerLocaleTranslationSupplier.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslationSupplierSpec.kt
Due: core

rename Translator to TranslationSupplierBasedTranslator
  atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierBasedTranslatorSpec.kt
  core/atrium-core-impl-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslationSupplierBasedTranslator.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslationSupplierSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/TranslationSupplierBasedTranslatorSpec.kt
  core/atrium-core-impl-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/translating/TranslatorSpec.kt
  core/atrium-core-impl-robstoll/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
Due: core
