Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

#203 : Adding code for ResultAssertions-isSuccess
  domain/api/extensions/kotlin_1_3/atrium-domain-api-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain/kotlin_1_3/creating/ResultAssertions.kt
  domain/builders/extensions/kotlin_1_3/atrium-domain-builders-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/kotlin_1_3/creating/ResultAssertionsBuilder.kt
  domain/robstoll-lib/extensions/kotlin_1_3/atrium-domain-robstoll-lib-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain.robstoll.lib.kotlin_1_3/creating/resultAssertions.kt
  domain/robstoll/atrium-domain-robstoll-jvm/src/main/resources/META-INF/services/ch.tutteli.atrium.domain.kotlin_1_3.creating.ResultAssertions
  domain/robstoll/extensions/kotlin_1_3/atrium-domain-robstoll-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll.kotlin_1_3/creating/ResultAssertionsImpl.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionResultAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionResultAssertion.kt
Due: domain

prepare AnyAssertionsSpec for api-infix-en_GB
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/AnyAssertionsSpec.kt
Due: api

add dummy test to AnyAssertionsSpec for api-infix-en_GB
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/AnyAssertionsSpec.kt
Due: api

remove unnecessary suppress for BigDecimal.toBe
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/bigDecimalAssertions.kt
Due: api

Examples for path assertions in Readme
  README.md
  samples/readme-examples/build.gradle
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
Due: none

#203 : registering resultAssertions as a service
  build.gradle
  domain/robstoll/extensions/kotlin_1_3/atrium-domain-robstoll-kotlin_1_3-jvm/src/main/resources/META-INF/services/ch.tutteli.atrium.domain.kotlin_1_3.creating.ResultAssertions
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionResultAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionResultAssertion.kt
Due: domain

atrium -> Atrium
  README.md
Due: none

Revert formatting in ReadmeSpec
  README.md
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
Due: none

Elaborate path assertions (existence, type, permissions) (#140)
  README.md
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/pathAssertions.kt
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/PathAssertionsSpec.kt
  build.gradle
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptiveWithFailureHint.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/TranslatableWithArgs.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveWithBasedOnSubjectSpec.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/PathAssertions.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PathAssertionsBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/creators/ThrowableThrownFailureHandler.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/build.gradle
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/bigDecimalAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/filesystem/IoResult.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/filesystem/symbolicLinkResolving.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/pathAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/assertions/filesystem/IoResultSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/assertions/filesystem/SymbolicLinkResolvingSpec.kt
  domain/robstoll/atrium-domain-robstoll-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/PathAssertionsImpl.kt
  misc/specs/atrium-specs-android/build.gradle
  misc/specs/atrium-specs-jvm/build.gradle
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/filesystemTestUtil.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
  samples/readme-examples/build.gradle
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBasic.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionPathAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionBasic.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionPathAssertion.kt
Due: api, domain, core

cleanup of FileAsPathAssertionsSpec
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/FileAsPathAssertionsSpec.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/FileAsPathAssertionsSpec.kt
Due: api

Revert "Update gradle wrapper to 5.6.2 version"
  gr
  gr.bat
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

reset default Locale after running ReadmeTestEngine
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
Due: none

update gradle to 5.5.1
  gr
  gr.bat
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

reactivate codeCoverageReport over all projects
  build.gradle
  gradle/scripts/jacoco-multi-project.gradle
Due: none

Add infix assertion functions
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/infix/en_GB/pairAssertions.kt
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/PairFeatureAssertionsSpec.kt
Due: api

Add 'first' and 'second' methods to companio object
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/PairFeatureAssertionsSpec.kt
Due: api

Added the bundles for infix-en_GB
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/AnyAssertionsSpec.kt
  bundles/infix-en_GB-jdk8/atrium-infix-en_GB-jdk8-android/build.gradle
  bundles/infix-en_GB-jdk8/atrium-infix-en_GB-jdk8-common/build.gradle
  bundles/infix-en_GB-jdk8/atrium-infix-en_GB-jdk8-jvm/build.gradle
  bundles/infix-en_GB-jdk8/atrium-infix-en_GB-jdk8-jvm/src/module/module-info.java
  bundles/infix-en_GB-jdk8/atrium-infix-en_GB-jdk8-jvm/src/test/kotlin/custom/SmokeSpec.kt
  bundles/infix-en_GB-jdk8/atrium-infix-en_GB-jdk8-smoke-test/src/test/kotlin/module-info.java
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-android/build.gradle
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-common/build.gradle
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-js/build.gradle
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-js/src/main/kotlin/ch/tutteli/atrium/infix/en_GB/kotlin_1_3/dependOnMe.kt
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-js/src/test/kotlin/ch/tutteli/atrium/fluent/en_GB/kotlin_1_3/JsNameAmbiguityTest.kt
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-js/src/test/kotlin/testSetup.kt
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-jvm/build.gradle
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-jvm/src/module/module-info.java
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-jvm/src/test/kotlin/custom/SmokeSpec.kt
  bundles/infix-en_GB-kotlin_1_3/atrium-infix-en_GB-kotlin_1_3-smoke-test/src/test/kotlin/module-info.java
  bundles/infix-en_GB/atrium-infix-en_GB-android/build.gradle
  bundles/infix-en_GB/atrium-infix-en_GB-common/build.gradle
  bundles/infix-en_GB/atrium-infix-en_GB-common/src/test/kotlin/SmokeTest.kt
  bundles/infix-en_GB/atrium-infix-en_GB-js/build.gradle
  bundles/infix-en_GB/atrium-infix-en_GB-js/src/main/kotlin/ch/tutteli/atrium/infix/en_GB/dependOnMe.kt
  bundles/infix-en_GB/atrium-infix-en_GB-js/src/test/kotlin/ch/tutteli/atrium/infix/en_GB/JsNameAmbiguityTest.kt
  bundles/infix-en_GB/atrium-infix-en_GB-js/src/test/kotlin/testSetup.kt
  bundles/infix-en_GB/atrium-infix-en_GB-jvm/build.gradle
  bundles/infix-en_GB/atrium-infix-en_GB-jvm/src/module/module-info.java
  bundles/infix-en_GB/atrium-infix-en_GB-jvm/src/test/kotlin/custom/SmokeSpec.kt
  bundles/infix-en_GB/atrium-infix-en_GB-smoke-test/src/test/kotlin/module-info.java
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle
Due: api

#203 : Adding result assertions in api
  apis/fluent-en_GB/extensions/kotlin_1_3/atrium-api-fluent-en_GB-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/kotlin_1_3/resultAssertions.kt
  domain/robstoll-lib/extensions/kotlin_1_3/atrium-domain-robstoll-lib-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain.robstoll.lib.kotlin_1_3/creating/resultAssertions.kt
Due: api, domain

Adding test for passing of empty lists to an at least assertion
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsInAnyOrderAtLeast1ElementsOfAssertionsSpec.kt
Due: api

#219, add a project under samples for atrium + spek
  samples/jvm/spek/build.gradle
  samples/jvm/spek/gradle.properties
  samples/jvm/spek/gradle/wrapper/gradle-wrapper.jar
  samples/jvm/spek/gradle/wrapper/gradle-wrapper.properties
  samples/jvm/spek/gradlew
  samples/jvm/spek/gradlew.bat
  samples/jvm/spek/settings.gradle
  samples/jvm/spek/src/main/kotlin/Calculator.kt
  samples/jvm/spek/src/test/kotlin/SmokeTest.kt
Due: none

Improve specs for iterable by using one time iterables
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableAllAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableAnyAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderAtLeastValuesAssertionSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderAtMostValuesAssertionSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderExactlyValuesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderNotOrAtMostValuesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderOnlyEntriesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInOrderOnlyGroupedValuesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsNotEntriesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsNotValuesAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsSpecBase.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableNoneAssertionsSpec.kt
Due: none

#203 : Fix commit changes
  domain/robstoll-lib/extensions/kotlin_1_3/atrium-domain-robstoll-lib-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain.robstoll.lib.kotlin_1_3/creating/resultAssertions.kt
Due: domain

remove full qualified name, expect is already imported
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsInAnyOrderAtLeast1ElementsOfAssertionsSpec.kt
Due: api

Apply suggestions from code review
  samples/jvm/spek/build.gradle
Due: none

Update samples/jvm/spek/build.gradle
  samples/jvm/spek/build.gradle
Due: none

building android gradle failing
  gradle/package-lock.json
  gradle/package.json
  samples/android/junit5/README.md
  samples/android/junit5/build.gradle
  samples/android/junit5/src/test/kotlin/ch/tutteli/SmokeTest.kt
  settings.gradle
Due: none

do not publish sample projects (of any kind)
  build.gradle
Due: none

ref #218 update tutteli-spek-extensions to 1.0.1
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/PathAssertionsSpec.kt
  build.gradle
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathFeatureAssertionsSpec.kt
Due: api

fix jsSamples in build.gradle, partly revert last commit
  build.gradle
Due: none

Restore ambiguity test
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/PairFeatureAssertionsSpec.kt
Due: api

move bc-test to sub folder `tools` in preparation of other tools
  build.gradle
  codecov.yml
  gr
  misc/tools/atrium-bc-test/.gitignore
  misc/tools/atrium-bc-test/build.gradle
  misc/tools/atrium-bc-test/src/main/kotlin/ch/tutteil/atrium/bctest/DeprecationTestEngine.kt
  misc/tools/atrium-bc-test/src/main/kotlin/ch/tutteil/atrium/bctest/ForgivingTest.kt
  misc/tools/atrium-bc-test/src/main/resources/META-INF/services/org.junit.platform.engine.TestEngine
  settings.gradle
Due: misc

Complete (broken) domain work
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/CharSequenceContainsRegexAssertionsSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/CharSequenceContains.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/creators/CharSequenceContainsAssertionCreator.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/creators/creators.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/searchers/IgnoringCaseIndexSearcher.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/searchers/IgnoringCaseRegexSearcher.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/searchers/IndexSearcher.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/searchers/RegexSearcher.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/charsequence/contains/creators/CharSequenceContainsAssertionsImpl.kt
Due: api, domain

main code change
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/iterableAssertions.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/IterableAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/iterableAssertionsBuilders.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterableAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/IterableAssertionsImpl.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
Due: api, domain

WIP: improved spec for assertions of in order iterables
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsInOrderAtLeast1ElementsOfAssertionSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsSpecBase.kt
Due: api

Add collectionAssertion for the new infix API
  README.md
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/CollectionAssertionsSpec.kt
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/CollectionFeatureAssertionsSpec.kt
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/collectionAssertions.kt
Due: api

Revert changes to README.md
  README.md
Due: none

Update apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/CollectionFeatureAssertionsSpec.kt
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/CollectionFeatureAssertionsSpec.kt
Due: api

Copy keywords.kt to the new infix api
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/collectionAssertions.kt
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/keywords.kt
Due: api

fix imports of keywords.kt in the new infix api
  apis/infix-en_GB/atrium-api-infix-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/keywords.kt
Due: api

Remove duplicate functions
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/CharSequenceContainsRegexAssertionsSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/searchers/RegexSearcher.kt
Due: api, domain

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
