Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

remove Type prefix from domain-robstoll-lib
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/AtLeastChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/AtMostChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/Checker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/ExactlyChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/NotChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchers/IgnoringCaseIndexSearcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchers/IgnoringCaseRegexSearcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchers/IndexSearcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/searchers/RegexSearcher.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/builders/NoOpCheckerBuilder.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/AtLeastChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/AtMostChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/Checker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/ExactlyChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/NotChecker.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/InAnyOrderEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/InAnyOrderObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/InAnyOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/InAnyOrderOnlyEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/InAnyOrderOnlyObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/InOrderOnlyAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/InOrderOnlyEntriesAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/InOrderOnlyObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/InAnyOrderOnlySearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/InAnyOrderSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/InOrderOnlySearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/InOrderSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/searchbehaviours/NotSearchBehaviourImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/providers/AbsentThrowableMessageProvider.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/providers/providers.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/checkers/CheckerFactory.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/checkers/CheckerFactory.kt
Due: domain

add inline to AssertImpl builders
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/anyAssertionsBuilders.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/iterableAssertionsBuilders.kt
Due: domain

rename type parameter for search criteria to SC
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/Contains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/Contains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/IterableContains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/throwable/thrown/ThrowableThrown.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/any/typetransformation/creators/TypeTransformationAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/creators/ContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/CharSequenceContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/creators/creators.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/creators/InAnyOrderObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/creators/CharSequenceContainsAssertionCreator.kt
Due: domain

rename Contains.CheckerBuilder to ...Option
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsCheckerBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/basic/contains/Contains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/iterable/contains/IterableContains.kt
Due: domain

rename method object to parameter object
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableContainsInOrderOnlyCreators.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/ICoreFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatter.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatterController.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatterParameterObject.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionPairFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatterControllerBasedFacade.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatterControllerImpl.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/InvisibleAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/NoSpecialChildFormattingSingleAssertionGroupTypeFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/SingleAssertionGroupTypeFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextExplanatoryAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextFallbackAssertionFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextFeatureAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextIndentAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextListAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextListBasedAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextPrefixBasedAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextSameLineAssertionPairFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/reporting/TextSummaryAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/reporting/TextNextLineAssertionPairFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterControllerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterSpecBase.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/EmptyNameAndSubjectAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/SingleAssertionGroupTypeFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFallbackAssertionFormatterSpec.kt
Due: api, core, misc

use toBe(true/false) instead of isTrue/False() in code
  README.md
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/creating/CheckingAssertionPlantSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CheckingAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/InvisibleAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextFeatureAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextIndentBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextListBasedAssertionGroupFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/TextSummaryAssertionGroupFormatterSpec.kt
Due: misc

deprecate boolean assertion functions
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/booleanAssertions.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/booleanAssertions.kt
Due: api

add `toBe(null)` as alternative to `isNull()`
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/AnyAssertionsSpec.kt
Due: api

update kotlin to 1.2.30
  build.gradle
Due: none

fix for codecov, jacocoMerge seems the wrong approach
  misc/atrium-bc-test/build.gradle
Due: misc

add basic map assertions, is(Not)Empty, hasSize
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/mapAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/MapAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/mapAssertions.kt
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/MapAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/mapAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/MapAssertionsSpec.kt
  domain/atrium-domain-api-late-binding/src/main/kotlin/ch/tutteli/atrium/creating/MapAssertions.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/creating/IMapAssertions.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/AssertImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/creating/MapAssertionsBuilder.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/creating/mapAssertions.kt
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/creating/MapAssertions.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAssertionsSpec.kt
Due: api, domain, misc

include bc-tests in code coverage
  gradle/scripts/jacoco-multi-project.gradle
  misc/atrium-bc-test/build.gradle
Due: misc

use project.utils plugin
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  core/atrium-core-api-late-binding/build.gradle
  core/atrium-core-robstoll-lib/build.gradle
  core/atrium-core-robstoll/build.gradle
  domain/atrium-domain-api-late-binding/build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll/build.gradle
  gradle/scripts/jacoco-multi-project.gradle
  gradle/scripts/spek.gradle
  misc/atrium-assertions/build.gradle
  misc/atrium-bc-test/build.gradle
  misc/atrium-spec/build.gradle
  misc/atrium-verbs/build.gradle
  settings.gradle
  translations/atrium-translations-de_CH/build.gradle
  translations/atrium-translations-en_UK/build.gradle
Due: api, domain, core, misc

include translation in code coverage
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  gradle/scripts/jacoco-multi-project.gradle
  gradle/scripts/spek.gradle
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/DeprecationTestEngine.kt
Due: api, misc

fix source projects for codecov in bc-test
  misc/atrium-bc-test/build.gradle
Due: misc

fix for-each in unzip task
  misc/atrium-bc-test/build.gradle
Due: misc

fix dokka linkMapping
  build.gradle
  core/atrium-core-api-late-binding/build.gradle
  core/atrium-core-robstoll-lib/build.gradle
  core/atrium-core-robstoll/build.gradle
  domain/atrium-domain-api-late-binding/build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll/build.gradle
  gradle/scripts/publish.gradle
Due: domain, core

use plugin ch.tutteli.spek
  build.gradle
  gradle/scripts/spek.gradle
Due: none

fix dokka linkMapping for task ghPages
  build.gradle
  gradle/scripts/gh-pages.gradle
Due: none

use regular description for publish_description
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  core/atrium-core-api-late-binding/build.gradle
  core/atrium-core-api/build.gradle
  core/atrium-core-robstoll-lib/build.gradle
  core/atrium-core-robstoll/build.gradle
  domain/atrium-domain-api-late-binding/build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll/build.gradle
  gradle/scripts/publish.gradle
  misc/atrium-assertions/build.gradle
  misc/atrium-bc-test/build.gradle
  misc/atrium-spec/build.gradle
  misc/atrium-verbs/build.gradle
  translations/atrium-translations-de_CH/build.gradle
  translations/atrium-translations-en_UK/build.gradle
Due: api, domain, core, misc

remove domain-api-late-binding from kdoc
  misc/kdoc/packages.md
Due: misc

move deprecated translations to own projects
  build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  codecov.yml
  misc/atrium-bc-test/build.gradle
  settings.gradle
  translations/atrium-translations-de_CH-deprecated/build.gradle
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionAnyAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBasic.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCharSequenceAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionComparableAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionThrowableAssertion.kt
  translations/atrium-translations-de_CH-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionTypeTransformationAssertion.kt
  translations/atrium-translations-en_UK-deprecated/build.gradle
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionAnyAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBasic.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionBigDecimalAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCharSequenceAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionCollectionAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionComparableAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionFloatingPointAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionIterableAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionThrowableAssertion.kt
  translations/atrium-translations-en_UK-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/DescriptionTypeTransformationAssertion.kt
Due: misc

add AssertionBuilder to AssertImpl
  README.md
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicDescriptiveAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/BasicExplanatoryAssertion.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/ExplanatoryAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/IndentAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/InvisibleAssertionGroup.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryAssertionGroupBuilders.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/InvisibleAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/NoSpecialChildFormattingSingleAssertionGroupTypeFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextExplanatoryAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextFeatureAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextIndentAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextListAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextListBasedAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextSummaryAssertionGroupFormatter.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/CoroutineBasedLocaleOrderDecider.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesBasedTranslationSupplier.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplier.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerLocaleTranslationSupplier.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslator.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/TranslationSupplierBasedTranslator.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextFallbackAssertionFormatterSpec.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/TextNextLineAssertionPairFormatterSpec.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/AssertImpl.kt
Due: domain, core

define module-info.java and include it into jars
  build.gradle
  core/atrium-core-api/src/module/module-info.java
  core/atrium-core-robstoll-lib/src/module/module-info.java
  translations/atrium-translations-de_CH/src/module/module-info.java
  translations/atrium-translations-en_UK/src/module/module-info.java
Due: core

move deprecated domain-api to own module
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
  domain/atrium-domain-api-deprecated/build.gradle
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/Contains.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/builders/ContainsCheckerBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/CharSequenceContains.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/builders/CharSequenceContainsCheckerBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsIgnoringCaseSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/charsequence/contains/searchbehaviours/CharSequenceContainsNotSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/IterableContains.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsCheckerBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/builders/IterableContainsNoOpCheckerBuilder.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInAnyOrderSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderOnlySearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsInOrderSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNoOpSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/searchbehaviours/IterableContainsNotSearchBehaviour.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/ThrowableThrown.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/builders/ThrowableThrownBuilder.kt
  domain/atrium-domain-api/build.gradle
  misc/atrium-assertions/build.gradle
  settings.gradle
Due: api, domain

turn domain-api and domain-builders into modules
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/any/typetransformation/failurehandlers/FailureHandlerFactory.kt
  domain/atrium-domain-api/src/module/module-info.java
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/anyAssertionsBuilders.kt
  domain/atrium-domain-builders/src/module/module-info.java
  domain/atrium-domain-robstoll-lib/src/module/module-info.java
  domain/atrium-domain-robstoll/src/main/kotlin/ch/tutteli/atrium/robstoll/creating/any/typetransformation/failurehandlers/FailureHandlerFactoryImpl.kt
  domain/atrium-domain-robstoll/src/main/resources/META-INF/services/ch.tutteli.atrium.domain.creating.any.typetransformation.failurehandlers.FailureHandlerFactory
  domain/atrium-domain-robstoll/src/module/module-info.java
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/typeTransformationAssertions.kt
Due: domain

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
