Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

remove polyfill for JvmName and JvmMultifileClass
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/arrayAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCheckers.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/charSequenceContainsDecorators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/featureAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/floatingPointAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsCheckers.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsDecorators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/arrayAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/charSequenceContainsCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/featureAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/floatingPointAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsSearchBehaviours.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/arrayAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/charSequenceContainsCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/featureAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/JvmAnnotations.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/JvmAnnotations.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/JvmAnnotations.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/nullable.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/floatingPointAssertions.kt
Due: api, domain, core

change docs url which point to explanation for failed evaluation
  README.md
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionIterableAssertion.kt
Due: none

few typos
  README.md
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/throwableDeprecatedAssertions.kt
Due: api

make map functions work for Map<out K, V>
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/mapAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/MapAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/mapAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/MapAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/creating/map/get/builders/MapGetNullableOption.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/creating/map/get/builders/MapGetOption.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/creating/map/get/builders/impl/MapGetNullableOptionImpl.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/creating/map/get/builders/impl/MapGetOptionImpl.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/mapAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/MapAssertionsSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/MapAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/MapAssertionsBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/MapAssertionsImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAssertionsSpec.kt
Due: api, domain, misc

add nullableKeyValueMap and document in README
  README.md
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/nullable.kt
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/utils/NullableSpec.kt
Due: domain

document factory methods of assertion builders
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilderFinalStep.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndEmptyRepresentationOption.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndRepresentationOption.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionsOption.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/BasicAssertionGroupFinalStep.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/descriptive.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/explanatoryGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionBuilderImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/explanatoryGroup/GroupTypeOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/invisibleGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/root.kt
Due: core

remove withDescriptionAndNullableRepresentation
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndRepresentationOption.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/AssertionGroupDescriptionAndRepresentationOptionImpl.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/impl/descriptive/DescriptionOptionImpl.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ThrowableThrownFailureHandler.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/containsHelperFun.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/basic/contains/creators/ContainsObjectsAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/IterableContainsInOrderOnlyAssertionCreator.kt
Due: domain, core

update mockito-kotlin to 2.1.0
  build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DetailedObjectFormatterSpec.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/DefaultReporterFactory.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/DelegatingAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/FeatureAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/ThrowingAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/AssertionFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/ObjectFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslationSupplierBasedTranslatorSpec.kt
Due: domain, core, misc

replace deprecated code in VerbSpec
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
Due: misc

use `expect` instead of `assert` in README
  README.md
Due: none

re-order the first few paragraphs in README
  README.md
Due: none

add kotlin bugs to README, improve own assertion function section
  README.md
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/mapArguments.kt
Due: domain, core

add newTextNextLineAssertionPairFormatter to CoreFactory
  README.md
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryCommonImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AssertionPairFormatterOption.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/AssertionPairFormatterOptionImpl.kt
Due: domain, core

replace assert with expect part 2
  README.md
Due: none

rename toBeNullIfNullElse, use toBeNullable as well
  README.md
  apis/atrium-api-cc-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/en_UK/AnyAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/AnyAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/AnyAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/anyAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/AnyAssertionsSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/AnyAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/anyAssertionsBuilders.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/anyAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/AnyAssertionsImpl.kt
Due: api, domain

rename package ch.tutteli.atrium.robstoll.core to ...core.robstoll
  build.gradle
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/CoreFactoryCommonImpl.kt
  core/robstoll/atrium-core-robstoll-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/CoreFactoryImpl.kt
  core/robstoll/atrium-core-robstoll-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/registerServices.kt
  core/robstoll/atrium-core-robstoll-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/CoreFactoryImpl.kt
  core/robstoll/atrium-core-robstoll-jvm/src/main/resources/META-INF/services/ch.tutteli.atrium.core.CoreFactory
  core/robstoll/atrium-core-robstoll-jvm/src/module/module-info.java
Due: core

fix links in README
  README.md
Due: none

allow Any? for LazyRepresentation
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/AssertionGroup.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/assertions/builders/AssertionGroupDescriptionAndRepresentationOption.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/LazyRepresentation.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/FeatureAssertionCheckerSpec.kt
Due: core, misc

deprecate map assertions in API containing nullable in name
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/mapAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/MapAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/MapFeatureAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/mapAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/MapAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/MapFeatureAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/mapAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/MapAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/MapFeatureAssertionsSpec.kt
  apis/differences.md
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/MapAssertionsBuilder.kt
  domain/builders/atrium-domain-builders-jvm/src/test/java/ch/tutteli/atrium/domani/builders/utils/Test.java
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/utils/NullableSpec.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/collectors/AssertionCollectorForExplanationImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapFeatureAssertionsSpec.kt
Due: api, domain, misc

deprecate list assertions in API containing nullable in name
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/listAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/ListFeatureAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/listAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/ListFeatureAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/listAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/ListFeatureAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/MapFeatureAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ListFeatureAssertionsSpec.kt
Due: api, misc

deprecate Pair/Map.Entry assertions in API containing nullable in name
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/mapEntryAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/pairAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/MapEntryFeatureAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/PairFeatureAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/mapEntryAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/pairAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/MapEntryFeatureAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/PairFeatureAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/mapEntryAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/pairAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/MapEntryFeatureAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/PairFeatureAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/KeyValueLikeFeatureAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapEntryFeatureAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/PairFeatureAssertionsSpec.kt
Due: api, misc

open up toBe for nullable subjects and deprecate notToBeNullBut
  README.md
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/typeTransformationAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/anyDeprecatedAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/typeTransformationDeprecatedAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/AnyAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/typeTransformationAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyDeprecatedAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/typeTransformationDeprecatedAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/TypeTransformationAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/anyAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/typeTransformationAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/anyDeprecatedAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/typeTransformationDeprecatedAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/AnyAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/TypeTransformationAssertionsSpec.kt
  apis/differences.md
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/polyfills/AtriumPropertyTest.kt
  domain/builders/atrium-domain-builders-jvm/src/test/kotlin/ch/tutteli/atrium/domain/builders/utils/NullableSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/FeatureAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/KeyValueLikeFeatureAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ListFeatureAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/MapFeatureAssertionsSpec.kt
Due: api, domain, core, misc

add overload with single assertion creator for containsExactly
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
Due: api

reword element type to entry type, improve KDoc concerning nullable
  README.md
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/typeTransformationAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/typeTransformationAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/creating/list/get/builders/ListGetNullableOption.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/creating/list/get/builders/ListGetOption.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/typeTransformationAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/nullable.kt
Due: api, domain

open up contains, containsNot and containsExactly in cc-infix
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/charSequenceAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/charSequenceContainsCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/parameterObjects.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderDeprecatedCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyDeprecatedCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyDeprecatedCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyGroupedDeprecatedCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableDeprecatedAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsSpecBase.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/groupsToList.kt
  misc/atrium-bc-test/build.gradle
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableContainsInOrderOnlyGroupedEntriesAssertionsSpec.kt
Due: api, domain, misc

open up contains, containsNot and containsExactly in cc-en_GB
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/parameterObjects.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderDeprecatedCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyDeprecatedCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyDeprecatedCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableDeprecatedAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsSpecBase.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/parameterObjects.kt
Due: api

open up contains, containsNot and containsExactly in cc-de_CH
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInAnyOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableContainsInOrderOnlyGroupedCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/parameterObjects.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInAnyOrderCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInAnyOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyCreators.kt
  misc/atrium-bc-test/build.gradle
Due: api, misc

document bugs which hinder atrium in infix API
  README.md
Due: none

open up non-nullable overloads for Map assertions
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/mapAssertions.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/parameterObjects.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/MapAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/mapAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/parameterObjects.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/MapAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/mapAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/parameterObjects.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/MapAssertionsSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/MapAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/MapAssertionsBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/MapAssertionsImpl.kt
Due: api, domain

different improvements in README.md
  README.md
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/collectionAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/collectionAssertions.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/collectionAssertions.kt
Due: api

complement ambiguity tests for iterable with containsExactly
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableAnyAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableAnyAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsSpecBase.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableContainsSpecBase.kt
Due: api

turn warnings into error also for test sources
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableAllAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableContainsSpecBase.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableNoneAssertionsSpec.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/TypeTransformationAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableAnyAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableContainsSpecBase.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableNoneAssertionsSpec.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/TypeTransformationAssertionsSpec.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/creating/map/get/builders/MapGetNullableOption.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/TypeTransformationAssertionsSpec.kt
  apis/differences.md
  build.gradle
Due: api

update roadmap
  README.md
Due: none

v0.8.0-beta
  .github/CONTRIBUTING.md
  README.md
  apis/differences.md
  build.gradle
  core/api/atrium-core-api-android/build/kdoc/atrium-core-api-android/ch.tutteli.atrium.core/new-reporting-plant-nullable.html
  misc/maven/example-pom.xml
Due: api, core, misc

document setup for JS and point to kotlin-examples
  README.md
  apis/differences.md
  core/api/atrium-core-api-android/build/kdoc/atrium-core-api-android/ch.tutteli.atrium.core/new-reporting-plant-nullable.html
Due: api, core

add a new line at the end of registerServices
  build.gradle
  core/robstoll/atrium-core-robstoll-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/registerServices.kt
  domain/builders/atrium-domain-builders-js/src/main/kotlin/ch/tutteli/atrium/domain/builders/registerServices.kt
  domain/robstoll/atrium-domain-robstoll-js/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/registerServices.kt
  misc/verbs-internal/atrium-verbs-internal-js/src/main/kotlin/ch/tutteli/atrium/verbs/internal/registerServices.kt
Due: domain, core, misc
