Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

add extra information for function types for fullName with obj
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/kClassExtensions.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/KClassFullNameTest.kt
Due: core

move tests in core-api-common to package polyfills
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/polyfills/LoadServicesTest.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/polyfills/LoadSingleServiceTest.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/polyfills/UseSingleServiceTest.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/polyfills/testServices.kt
  core/api/atrium-core-api-js/src/test/kotlin/testSetup.kt
  core/api/atrium-core-api-jvm/src/test/resources/META-INF/services/ch.tutteli.atrium.core.InterfaceWithOneImplementation
  core/api/atrium-core-api-jvm/src/test/resources/META-INF/services/ch.tutteli.atrium.core.InterfaceWithTwoImplementation
  core/api/atrium-core-api-jvm/src/test/resources/META-INF/services/ch.tutteli.atrium.core.polyfills.InterfaceWithOneImplementation
  core/api/atrium-core-api-jvm/src/test/resources/META-INF/services/ch.tutteli.atrium.core.polyfills.InterfaceWithTwoImplementation
Due: core

rename formatNumber to formatFloatingPointNumber
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/formatFloatingPointNumber.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/formatNumber.kt
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/polyfills/LoadServicesTest.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/formatFloatingPointNumber.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/formatNumber.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/FormatFloatingPointNumberTest.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/FormatNumberTest.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/formatFloatingPointNumber.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/floatingPointAssertions.kt
Due: domain, core

write spec for AtriumProperty get/set
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/core/polyfills/AtriumPropertyTest.kt
Due: core

write spec for String.format for JS platform
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/StringFormatTest.kt
Due: core

write spec for Throwable.stack
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/PlantHasNoSubjectException.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/stringExtensions.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/throwableExtensions.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/ThrowableStackTest.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/AssertImpl.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ThrowableThrownFailureHandler.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
Due: domain, core

move nodejs/npm binaries to rootProject
  build.gradle
  core/api/atrium-core-api-js/build.gradle
  gradle/package-lock.json
  gradle/package.json
Due: core

Fix missing parameter expansion in calls from deprecated methods
  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
Due: api

fix nodejs gradle plugin nodeModulesDir has to point to parent dir
  core/api/atrium-core-api-js/build.gradle
  gradle/package.json
Due: core

temporarily remove copyright
  LICENSE.txt
Due: none

try to include the copyright again
  LICENSE.txt
Due: none

prepare new version v0.7.0-android
  build.gradle
Due: none

adjust jvm name of contains? to containsDeprecated
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/iterableAssertions.kt
Due: api

exclude externalDocumentationLink for android version
  build.gradle
Due: none

update to kbox 0.12.0
  build.gradle
Due: none

release 0.7.0-android-alpha
  build.gradle
Due: none

workaround for testRuntimeOnly bug in kotlin plugin (KT-28124)
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/build.gradle
Due: core

adjust stack trace for JS, filter out mocha
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/AdjustStackTest.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/ThrowableStackTest.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/adjustStack.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/adjustStack.kt
Due: core

adjust stackTrace for JVM, filter out junit and spek
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/reporting/AdjustStackTest.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  core/api/atrium-core-api-jvm/src/test/kotlin/ch/tutteli/atrium/reporting/AdjustStackSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/adjustStack.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/adjustStack.kt
Due: core

add NoOp- and RemoveAtriumFromAtriumErrorAdjuster
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/reporting/AdjustStackTest.kt
  core/api/atrium-core-api-jvm/src/test/kotlin/ch/tutteli/atrium/reporting/AdjustStackSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/NoOpAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveAtriumFromAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveRunnerAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/FilterAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveAtriumFromAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveRunnerAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/test/kotlin/ch/tutteli/atrium/reporting/AdjustStackTest.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/test/kotlin/testSetup.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/FilterAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveAtriumFromAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveRunnerAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackSpec.kt
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryCommonImpl.kt
  core/robstoll/atrium-core-robstoll-js/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  core/robstoll/atrium-core-robstoll-jvm/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
Due: core

re-order module-info.java and remove kbox as dep if implicit via core
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/module/module-info.java
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/module/module-info.java
  bundles/atrium-cc-en_GB-robstoll/src/module/module-info.java
  bundles/atrium-cc-infix-en_GB-robstoll/src/module/module-info.java
  core/api/atrium-core-api-jvm/src/module/module-info.java
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/build.gradle
  misc/atrium-spec/build.gradle
Due: api, core, misc

move AtriumErrorAdjuster into ReporterBuilder
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/Reporter.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/atrium-core-robstoll-deprecated/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/OnlyFailureReporter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/DelegatingReporter.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackTest.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerEntityAndLocaleTranslationSupplierSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/PropertiesPerLocaleTranslationSupplierSpec.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslatorSpec.kt
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryCommonImpl.kt
  core/robstoll/atrium-core-robstoll-jvm/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AssertionFormatterControllerOption.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AtriumErrorAdjusterCommonOption.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AtriumErrorAdjusterOption.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/ReporterOption.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/TextAssertionFormatterOption.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/AtriumErrorAdjusterOptionImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/DefaultReporterFactory.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/MultipleAdjustersOptionImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/ReporterOptionImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/TextAssertionFormatterOptionImpl.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/TextAssertionFormatterOption.kt
  domain/builders/atrium-domain-builders-jvm/src/module/module-info.java
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/ThrowingAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/SubjectLessAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/OnlyFailureReporterSpec.kt
Due: api, domain, core, misc

add MultiAtriumErrorAdjuster
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumErrorAdjuster.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumErrorAdjuster.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/MultiAtriumErrorAdjusterImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/NoOpAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/FilterAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/MultiAtriumErrorAdjusterImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/NoOpAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveAtriumFromAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveRunnerAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/FilterAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/MultiAtriumErrorAdjusterImpl.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/NoOpAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveAtriumFromAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveRunnerAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackSpec.kt
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryCommonImpl.kt
Due: core

use a DSL marker for MultipleAdjustersOption
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AtriumErrorAdjusterOption.kt
Due: domain

move stack adjuster into own class which can be configured
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumErrorAdjuster.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  core/atrium-core-robstoll-deprecated/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/robstoll-lib/atrium-core-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/checking/ThrowingAssertionChecker.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveRunnerAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveRunnerAtriumErrorAdjuster.kt
  core/robstoll/atrium-core-robstoll-common/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryCommonImpl.kt
  core/robstoll/atrium-core-robstoll-js/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  core/robstoll/atrium-core-robstoll-jvm/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/ThrowingAssertionCheckerSpec.kt
Due: core, misc

release 0.7.0-android
  build.gradle
Due: none

update tutteli-gradle-plugins to 0.20.0
  settings.gradle
Due: none

update tutteli-gradle-plugins to 0.21.0
  settings.gradle
Due: none

add android modules, use src/main/kotlin and resources from jvm
  apis/cc-de_CH/atrium-api-cc-de_CH-android/build.gradle
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/build.gradle
  apis/cc-en_GB/atrium-api-cc-en_GB-android/build.gradle
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-android/build.gradle
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-common/build.gradle
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-js/build.gradle
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/build.gradle
  build.gradle
  core/api/atrium-core-api-android/build.gradle
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/robstoll-lib/atrium-core-robstoll-lib-android/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-common/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-js/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/build.gradle
  core/robstoll/atrium-core-robstoll-android/build.gradle
  domain/api/atrium-domain-api-android/build.gradle
  domain/builders/atrium-domain-builders-android/build.gradle
  domain/robstoll-lib/atrium-domain-robstoll-lib-android/build.gradle
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/build.gradle
  domain/robstoll/atrium-domain-robstoll-android/build.gradle
  misc/atrium-bc-test/build.gradle
  misc/verbs-internal/atrium-verbs-internal-android/build.gradle
  misc/verbs/atrium-verbs-android/build.gradle
  settings.gradle
  translations/de_CH/atrium-translations-de_CH-android/build.gradle
  translations/en_GB/atrium-translations-en_GB-android/build.gradle
Due: api, domain, core, misc

turn bundles into multi-platform projects
  build.gradle
  bundles/atrium-cc-de_CH-robstoll/src/test/kotlin/SmokeSpec.kt
  bundles/cc-de_CH/atrium-cc-de_CH-android/build.gradle
  bundles/cc-de_CH/atrium-cc-de_CH-common/build.gradle
  bundles/cc-de_CH/atrium-cc-de_CH-js/build.gradle
  bundles/cc-de_CH/atrium-cc-de_CH-jvm/build.gradle
  bundles/cc-en_GB/atrium-cc-en_GB-android/build.gradle
  bundles/cc-en_GB/atrium-cc-en_GB-common/build.gradle
  bundles/cc-en_GB/atrium-cc-en_GB-js/build.gradle
  bundles/cc-en_GB/atrium-cc-en_GB-jvm/build.gradle
  bundles/cc-en_GB/atrium-cc-en_GB-jvm/src/module/module-info.java
  bundles/cc-en_GB/atrium-cc-en_GB-jvm/src/test/kotlin/SmokeSpec.kt
  bundles/cc-en_GB/atrium-cc-en_GB-smoke-test/src/test/kotlin/module-info.java
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-android/build.gradle
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-common/build.gradle
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-js/build.gradle
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-jvm/build.gradle
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-jvm/src/module/module-info.java
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-jvm/src/test/kotlin/SmokeSpec.kt
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-smoke-test/src/test/kotlin/module-info.java
  core/api/atrium-core-api-android/build.gradle
  core/api/atrium-core-api-jvm/build.gradle
  misc/atrium-bc-test/build.gradle
  settings.gradle
Due: core, misc

using the bundles, work around js runtimeOnly problematic
  build.gradle
  bundles/cc-de_CH/atrium-cc-de_CH-android/build.gradle
  bundles/cc-de_CH/atrium-cc-de_CH-common/build.gradle
  bundles/cc-de_CH/atrium-cc-de_CH-js/build.gradle
  bundles/cc-de_CH/atrium-cc-de_CH-jvm/build.gradle
  bundles/cc-en_GB/atrium-cc-en_GB-android/build.gradle
  bundles/cc-en_GB/atrium-cc-en_GB-common/build.gradle
  bundles/cc-en_GB/atrium-cc-en_GB-js/build.gradle
  bundles/cc-en_GB/atrium-cc-en_GB-jvm/build.gradle
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-android/build.gradle
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-common/build.gradle
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-js/build.gradle
  bundles/cc-infix-en_GB/atrium-cc-infix-en_GB-jvm/build.gradle
  core/api/atrium-core-api-js/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-android/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-common/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-js/build.gradle
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/build.gradle
  misc/verbs-internal/atrium-verbs-internal-js/build.gradle
Due: core, misc

typo "no KDOC" instead of "not KDoc"
  README.md
Due: none

typo "will be used" instead of "will be use"
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/atrium-core-api-deprecated/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/builders/ThrowableThrownBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/builders/ThrowableThrownBuilder.kt
Due: domain, core

rename ReporterFactory.SYSTEM_PROPERTY to ATRIUM_PROPERTY_KEY
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterFactory.kt
Due: core

rename stack to stackBacktrace
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/throwableExtensions.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/AssertionFormatter.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumErrorAdjuster.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/polyfills/throwableExtensions.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumError.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/reporting/AtriumErrorAdjuster.kt
  core/api/atrium-core-api-js/src/test/kotlin/ch/tutteli/atrium/core/polyfills/ThrowableStackTest.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/polyfills/throwableExtensions.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/FilterAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackTest.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/FilterAtriumErrorAdjuster.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackSpec.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/AtriumErrorAdjusterCommonOption.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ThrowableThrownFailureHandler.kt
Due: domain, core

rename bundles, include -robstoll again
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-android/build.gradle
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-common/build.gradle
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-js/build.gradle
  bundles/cc-de_CH-robstoll/atrium-cc-de_CH-robstoll-jvm/build.gradle
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-android/build.gradle
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-common/build.gradle
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-js/build.gradle
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-jvm/build.gradle
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-jvm/src/module/module-info.java
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-jvm/src/test/kotlin/SmokeSpec.kt
  bundles/cc-en_GB-robstoll/atrium-cc-en_GB-robstoll-smoke-test/src/test/kotlin/module-info.java
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-android/build.gradle
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-common/build.gradle
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-js/build.gradle
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-jvm/build.gradle
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-jvm/src/module/module-info.java
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-jvm/src/test/kotlin/SmokeSpec.kt
  bundles/cc-infix-en_GB-robstoll/atrium-cc-infix-en_GB-robstoll-smoke-test/src/test/kotlin/module-info.java
  core/api/atrium-core-api-android/build.gradle
  core/api/atrium-core-api-js/build.gradle
  core/api/atrium-core-api-jvm/build.gradle
  misc/atrium-bc-test/build.gradle
  settings.gradle
Due: core, misc
