Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

codecov.yml:

ignore:
    - "domain/builders/**/AssertImpl.kt"
    - "domain/builders/**/creating/**Builder.kt"
    - "domain/builders/**/creating/*Builders.kt"

    # TODO remove with 1.0.0
    - "misc/atrium-assertions/**/*"
    - "apis/**/assertions/**/*"
    - "domain/api/**/assertions/**/*"
    - "domain/atrium-domain-api-deprecated/**/*"
    - "**/IAtriumFactory.kt"
    - "**/AtriumFactory.kt"


flags:
  api:
    paths:
      - apis/
  domain:
    paths:
      - domain/
  core:
    paths:
      - core/
  misc:
    paths:
      - misc/

mention that ext. fun for `Iterable<T?>` has a nullable entry type
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableAssertions.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
Due: api

suffix assertionCreator with OrNull in parameter objects
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/parameterObjects.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/parameterObjects.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyCreators.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/parameterObjects.kt
Due: api

mention `string matches regex` for CharSequence contains regex
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/creators/CharSequenceContainsAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/creators/creators.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsRegexAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsSpecBase.kt
  translations/atrium-translations-de_CH/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCharSequenceAssertion.kt
  translations/atrium-translations-en_GB/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCharSequenceAssertion.kt
Due: domain, misc

throw IllegalArg when searching for an empty String/CharSequence
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charsequence/contains/creators/creators.kt
  misc/atrium-bc-test/build.gradle
  misc/atrium-bc-test/src/main/kotlin/ch/tutteli/atrium/spec/ForgivingTest.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsAtLeastAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsAtMostAssertionsSpec.kt
Due: domain, misc

update codecov.yml, give some more hints to codecov
  .travis.yml
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_GB/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_GB/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
  build.gradle
  codecov.yml
  domain/atrium-domain-robstoll-lib/build.gradle
  misc/atrium-bc-test/build.gradle
Due: api, domain, misc

restrict bc-test exclusion about Iterable to entries only
  misc/atrium-bc-test/build.gradle
Due: misc

define core-robstoll and domain-robstoll runtimeOnly in bundles
  bundles/atrium-cc-de_CH-robstoll/build.gradle
  bundles/atrium-cc-en_GB-robstoll/build.gradle
  bundles/atrium-cc-en_UK-robstoll/build.gradle
  bundles/atrium-cc-infix-en_GB-robstoll/build.gradle
  bundles/atrium-cc-infix-en_UK-robstoll/build.gradle
Due: none

add config for appveyor jdk9 and jdk10
  appveyor.yml
  build.gradle
Due: none

define core-robstoll and domain-robstoll runtimeOnly in APIs
  apis/atrium-api-cc-de_CH/build.gradle
  apis/atrium-api-cc-en_GB/build.gradle
  apis/atrium-api-cc-en_UK/build.gradle
  apis/atrium-api-cc-infix-en_GB/build.gradle
  apis/atrium-api-cc-infix-en_UK/build.gradle
Due: api

define dependency to kotlin-gradle-plugin explicitly
  build.gradle
  misc/atrium-spec/build.gradle
Due: misc

change groupId to ch.tutteli.atrium
  build.gradle
Due: none

define core-robstoll and domain-robstoll runtimeOnly in core/domain
  core/atrium-core-robstoll-lib/build.gradle
  domain/atrium-domain-api/build.gradle
  domain/atrium-domain-builders/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
Due: domain, core

update junit_platform to 1.2.0 for bc-test
  build.gradle
Due: none

update to tutteli-gradle-plugin 0.6.0 and simplify settings.gradle
  settings.gradle
Due: none

replace exclusion block with `withoutKotlin` where possible
  build.gradle
  core/atrium-core-api/build.gradle
  core/atrium-core-robstoll-lib/build.gradle
  domain/atrium-domain-robstoll-lib/build.gradle
  misc/atrium-bc-test/build.gradle
Due: domain, core, misc

replace exclusion block with `withoutKotlin` part 2
  domain/atrium-domain-robstoll-lib/build.gradle
  misc/atrium-spec/build.gradle
  misc/atrium-verbs/build.gradle
Due: domain, misc

use kotlinStdLib() and kotlinReflect() instead of "org.jetbrains.."
  build.gradle
  misc/atrium-bc-test/build.gradle
Due: misc

suffix `isSame` and `isNotSame` with `As` => `isSameAs`
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/AnyAssertionsSpec.kt
  apis/atrium-api-cc-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/en_UK/anyAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/anyAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/AnyAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_UK/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_UK/anyAssertions.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/checking/FeatureAssertionCheckerSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/ObjectFormatterSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorIntSpec.kt
Due: api, misc

add nullableKeyMap
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/nullable.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/utils/NullableSpec.kt
Due: domain

expect a subjectProvider for new...Plant in CoreFactory
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/atriumVerbs.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlantWithCommonFields.kt
  core/atrium-core-robstoll-deprecated/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CheckingAssertionPlantImpl.kt
  core/atrium-core-robstoll-lib/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CheckingAssertionPlantSpec.kt
  core/atrium-core-robstoll/src/main/kotlin/ch/tutteli/atrium/robstoll/core/CoreFactoryImpl.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/creators/TypeTransformationAssertionCreator.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/containsHelperFun.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/any/typetransformation/TypeTransformer.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/iterable/contains/creators/containsEntriesFun.kt
  misc/atrium-assertions/src/main/kotlin/ch/tutteli/atrium/assertions/throwable/thrown/creators/ThrowableThrownAssertionCreator.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CheckingAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/SubjectLessAssertionSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/reporting/translating/TranslatorIntSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/verbs/VerbSpec.kt
  misc/atrium-verbs-internal/src/main/kotlin/ch/tutteli/atrium/verbs/internal/atriumVerbs.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assert.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assertThat.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/expect.kt
Due: api, domain, core, misc

make subjectProvider a property of BaseAssertionPlant
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlantWithCommonFields.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/BaseAssertionPlant.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/BaseReportingAssertionPlant.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/ReportingAssertionPlantNullable.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CheckingAssertionPlantImpl.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/CollectingAssertionPlantImpl.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/MutableListBasedAssertionPlant.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/creating/MutableListBasedReportingAssertionPlant.kt
  domain/atrium-domain-api/src/main/kotlin/ch/tutteli/atrium/domain/creating/collectors/AssertionCollector.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InOrderOnlyMatcher.kt
Due: domain, core

remove subject from CommonFields
  core/atrium-core-api-deprecated/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/creating/AssertionPlantWithCommonFields.kt
Due: core

update to kbox 0.9.0
  build.gradle
  core/atrium-core-api/build.gradle
  core/atrium-core-api/src/main/kotlin/ch/tutteli/atrium/reporting/translating/ArgumentsSupportingTranslator.kt
  core/atrium-core-robstoll-lib/build.gradle
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/CoroutineBasedLocaleOrderDecider.kt
  core/atrium-core-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/translating/ResourceBundleBasedTranslator.kt
  domain/atrium-domain-robstoll-lib/build.gradle
  misc/atrium-spec/build.gradle
Due: domain, core, misc

define mockito dependency as function
  build.gradle
  misc/atrium-bc-test/build.gradle
  misc/atrium-spec/build.gradle
Due: misc

update kotlin to 1.2.50
  build.gradle
Due: none

introduce changeSubject which allows to create a feature plant
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/AssertImpl.kt
  domain/atrium-domain-builders/src/main/kotlin/ch/tutteli/atrium/domain/builders/utils/subAssert.kt
  domain/atrium-domain-builders/src/test/kotlin/ch/tutteli/atrium/domain/builders/creating/FeatureAssertionsBuilderNameSpec.kt
  domain/atrium-domain-robstoll-lib/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/creators/TypeTransformationAssertionCreator.kt
Due: domain

introduce asIterable for array types (Array, ByteArray, IntArray...)
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/arrayAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/ArrayAsIterableAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/arrayAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/ArrayAsIterableAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/arrayAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/ArrayAsIterableAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/ArrayAsIterableAssertionsSpec.kt
Due: api, misc

introduce asIterable for Sequence
  apis/atrium-api-cc-de_CH/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/sequenceAssertions.kt
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableAnyAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/sequenceAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableAnyAssertionsSpec.kt
  apis/atrium-api-cc-infix-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/sequenceAssertions.kt
  apis/atrium-api-cc-infix-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/IterableAnyAssertionsSpec.kt
Due: api

move lambda out of parentheses
  apis/atrium-api-cc-de_CH/src/test/kotlin/ch/tutteli/atrium/api/cc/de_CH/IterableAnyAssertionsSpec.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/IterableAnyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableAllAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableAnyAssertionsSpec.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/IterableNoneAssertionsSpec.kt
Due: api, misc

document asIterable in FAQ of README
  README.md
Due: none

revise README: en_GB instead of en_UK, assertion-verbs and more
  README.md
  apis/atrium-api-cc-en_GB/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/atrium-api-cc-en_GB/src/test/kotlin/ch/tutteli/atrium/api/cc/en_GB/FeatureAssertionsClassReferenceSpec.kt
  misc/atrium-verbs/src/main/kotlin/ch/tutteli/atrium/verbs/assert.kt
  misc/maven/example-pom.xml
Due: api, misc

fix typo should be interrogbang instead of ...bag
  README.md
Due: none

document type transformations
  README.md
Due: none

document link to KDoc of APIs under FAQ
  README.md
Due: none

fix line number for nullableValueMap in README.md
  README.md
Due: none

mention extending sophisticated assertion builder in README
  README.md
Due: none

document translations and remove .impl from docs
  gradle/scripts/gh-pages.gradle
  misc/kdoc/packages.md
Due: misc

use new version of dokka
  build.gradle
Due: none

v0.7.0-RC1
  README.md
  apis/differences.md
  build.gradle
  domain/atrium-domain-api-deprecated/src/main/kotlin/ch/tutteli/atrium/reporting/ReporterBuilder.kt
  misc/maven/example-pom.xml
Due: api, misc

adopt deprecation in AtriumFactory, CoreFactory expects subjectProvider
  core/atrium-core-api-deprecated/src/main/kotlin/ch/tutteli/atrium/IAtriumFactory.kt
  core/atrium-core-robstoll-deprecated/src/main/kotlin/ch/tutteli/atrium/AtriumFactory.kt
Due: none
